<div class="row mb-3">
    <div class="col-md-6">
        <div id="about-carousel" class="carousel carousel-light slide d-flex" data-bs-ride="carousel" style="height: 500px !important;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <!-- <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button> -->
            </div>
            <div class="carousel-inner align-self-center align-items-center d-flex h-100">
                <div class="carousel-item shadow rounded active">
                    <img src="../static/pictures/personal/2022-photoshoot/20221016-IMG_4103.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item shadow rounded">
                    <img src="../static/pictures/personal/armada/Armada44.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item shadow rounded">
                    <img src="../static/pictures/personal/2020-recital/20190314_182741.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item shadow rounded">
                    <img src="../static/pictures/personal/2022-photoshoot/20221016-IMG_4199.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item shadow rounded">
                    <img src="../static/pictures/personal/2020-photoshoot/lily_pic_2.jpg" class="d-block w-100" alt="...">
                </div>
                <!-- <div class="carousel-item shadow rounded">
                    <img src="" class="d-block w-100" alt="...">
                </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#about-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
            <button class="carousel-control-next" type="button" data-bs-target="#about-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
        </div>
    </div>
    <div class="col-md-6">
        <p class="text-light">
            Taylor Reese King is a musician, sound engineer, and web developer in the Boise area. After graduating with his Bachelor's in Music Composition from Boise State University, he has been working on his skills in event production.
            <br>
            <br>
            While the majority of what he does is music, he has a passion for problem solving. Because of this, he has been involved in many different projects, including the FIRST Robotics Competition (FRC) <a href="https://www.teamtators.org">Team Tators</a>, as a mechanical engineering mentor, data analyst, and web developer.
            He has also been working to build a new company called sfzMusic designed towards music educators in order to help them with live sound and productions.
        </p>
    </div>
</div>


<div class="row mb-3">
    <div class="accordion" id="about-accordion">
        <cstr cstr-type="repeat" id="aboutAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="{accordionLowercaseHeading}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{accordionLowercaseHeading}" aria-expanded="false" aria-controls="collapse-{accordionLowercaseHeading}">
                        {accordionHeading}
                    </button>
                </h2>
                <div id="collapse-{accordionLowercaseHeading}" class="accordion-collapse collapse collapsed" aria-labelledby="headingOne" data-bs-parent="#{accordionLowercaseHeading}">
                    <div class="accordion-body">
                        {accordionContent}
                    </div>
                </div>
            </div>
        </cstr>
    </div>
</div>