<div class="subpage">
    <h1 class="center page-title">Change Account Information</h1>
    <form action="/account/change-password" method="POST" class="center">
        <label for="username"><h6>Enter Username</h6></label><input placeholder="JaneDoe123" type="text" name="username" required>
        <label for="password"><h6>Enter Your Password</h6></label><input placeholder="**********" type="password" name="password" required>
        <label for="new_password"><h6>New Password</h6></label><input placeholder="**********" type="password" name="new_password" required>
        <label for="confirm_new_password"><h6>Confirm New Password</h6></label><input placeholder="**********" type="password" name="confirm_new_password" required>
        <br>
        <input type="submit" class="pointer">
    </form>
</div>