<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/components.css">
    <script src="../../static/js/redirect.js"></script>
    <title>King Music Studio: Page Not Found</title>
</head>

<body class="only_desktop secondary darkmode font_size-5 line_spacing-6 font-roboto">
    <div class="subpage">
        <h1 class="center page-title"><span class="note">Redirect:</span> You have been signed out</h1>
        <h3 class="center">You will be redirected home after <span id="countdown">3</span> seconds.</h3>
    </div>
</body>

</html>