<div class="subpage">
    <h4 class="center page-title">Don't have an account? <a href="/account/sign-up" data-link="nav" class="link">Sign Up</a>!</h4>
    <h1 class="center page-title">Sign In</h1>
    <form class="center" action="/account/sign-in" method="post">
        <label for="email"><h6>Email/Username</h6></label><input placeholder="johndoe@domain.com*" type="text" name="email" required>
        <label for="password"><h6>Password</h6></label><input placeholder="***********" type="password" name="password" required>
        <input type="submit" class="pointer">
    </form>
    <h4 class="center page-title">
        <a href="/account/change-password" class="link" data-link="nav">Forgot your password?</a>
    </h4>
</div>