/* Variables */

:root {
    /* white */
    --white: rgb(242, 242, 242);
    --white-mediumFaded: hsla(0, 0%, 95%, 0.7);
    --white-faded: hsla(0, 0%, 95%, 0.3);
    /* black */
    --black: rgb(0, 0, 0);
    --black-littleFaded: hsla(0, 0%, 0%, 0.9);
    --black-mediumFaded: hsla(0, 0%, 0%, 0.75);
    --black-faded: hsla(0, 0%, 8%, 0.3);
    /* Shadows */
    --boxShadow: 3px -3px 10px var(--black-faded);
    --textShadow: 3px -3px 5px var(--black);
    /* Indent */
    --textIndent: 30px;
    /* Universal Text Colors */
    --darkText: hsl(0, 0%, 8%);
    --lightText: hsl(0, 0%, 80%);
}

.tabs-1 {
    --numTabs: 1;
}

.tabs-2 {
    --numTabs: 2;
}

.tabs-3 {
    --numTabs: 3;
}

.tabs-4 {
    --numTabs: 4;
}

.tabs-5 {
    --numTabs: 5;
}

.tabs-6 {
    --numTabs: 6;
}

.tabs-7 {
    --numTabs: 7;
}

.tabs-8 {
    --numTabs: 8;
}

.tabs-9 {
    --numTabs: 9;
}

.tabs-10 {
    --numTabs: 10;
}

.primary {
    --main: rgb(136, 122, 53);
    --main-mediumFaded: hsl(50, 44%, 37%, 0.7);
    --main-faded: hsl(50, 44%, 37%, 0.3);
    --light: rgb(184, 165, 71);
    --light-mediumFaded: hsl(50, 44%, 50%, 0.7);
    --light-faded: hsl(50, 44%, 50%, 0.3);
    --veryLight: rgb(219, 210, 163);
    --veryLight-mediumFaded: hsl(50, 44%, 75%, 0.7);
    --veryLight-faded: hsl(50, 44%, 75%, 0.3);
    --dark: rgb(73, 66, 29);
    --dark-mediumFaded: hsl(50, 44%, 20%, 0.7);
    --dark-faded: hsl(50, 44%, 20%, 0.3);
}

.secondary {
    --main: rgb(12, 17, 182);
    --main-mediumFaded: hsl(238, 88%, 38%, 0.7);
    --main-faded: hsl(238, 88%, 38%, 0.3);
    --light: rgb(15, 23, 240);
    --light-mediumFaded: hsl(238, 88%, 50%, 0.7);
    --light-faded: hsl(238, 88%, 50%, 0.3);
    --veryLight: rgb(135, 139, 247);
    --veryLight-mediumFaded: hsl(238, 88%, 75%, 0.7);
    --veryLight-faded: hsl(238, 88%, 75%, 0.3);
    --dark: rgb(6, 9, 96);
    --dark-mediumFaded: hsl(238, 88%, 20%, 0.7);
    --dark-faded: hsl(238, 88%, 20%, 0.3);
}

.darkmode {
    --firstLayer: hsl(0, 0%, 8%);
    --firstLayer-mediumFaded: hsl(0, 0%, 8%, 0.7);
    --firstLayer-faded: hsl(0, 0%, 8%, 0.3);
    --secondLayer: hsl(0, 0%, 20%);
    --secondLayer-mediumFaded: hsl(0, 0%, 20%, 0.7);
    --secondLayer-faded: hsl(0, 0%, 20%, 0.3);
    --thirdLayer: hsl(0, 0%, 30%);
    --thirdLayer-mediumFaded: hsl(0, 0%, 30%, 0.7);
    --thirdLayer-faded: hsl(0, 0%, 30%, 0.3);
    --fourthLayer: hsl(0, 0%, 50%);
    --fourthLayer-mediumFaded: hsl(0, 0%, 50%, 0.7);
    --fourthLayer-faded: hsl(0, 0%, 50%, 0.3);
    --text: hsl(0, 0%, 80%);
}

.lightmode {
    --firstLayer: hsl(0, 0%, 80%);
    --firstLayer-mediumFaded: hsl(0, 0%, 80%, 0.7);
    --firstLayer-faded: hsl(0, 0%, 80%, 0.3);
    --secondLayer: hsl(0, 0%, 70%);
    --secondLayer-mediumFaded: hsl(0, 0%, 70%, 0.9);
    --secondLayer-faded: hsl(0, 0%, 70%, 0.3);
    --thirdLayer: hsl(0, 0%, 60%);
    --thirdLayer-mediumFaded: hsl(0, 0%, 60%, 0.7);
    --thirdLayer-faded: hsl(0, 0%, 60%, 0.3);
    --fourthLayer: hsl(0, 0%, 50%);
    --fourthLayer-mediumFaded: hsl(0, 0%, 50%, 0.7);
    --fourthLayer-faded: hsl(0, 0%, 50%, 0.3);
    --text: hsl(0, 0%, 8%);
}

.solid_backgrounds {
    /* white */
    --white-mediumFaded: hsl(0, 0%, 73%);
    --white-faded: rgb(114, 114, 114);
    /* black */
    --black-littleFaded: hsl(0, 0%, 14%);
    --black-mediumFaded: hsl(0, 0%, 24%);
    --black-faded: hsl(0, 0%, 30%);
}

.darkmode.solid_backgrounds {
    --firstLayer-mediumFaded: rgb(54, 54, 54);
    --firstLayer-faded: rgb(105, 105, 105);
    --secondLayer-mediumFaded: rgb(102, 102, 102);
    --secondLayer-faded: rgba(134, 134, 134);
    --thirdLayer-mediumFaded: rgb(158, 158, 158);
    --thirdLayer-faded: rgb(199, 199, 199);
}

.lightmode.solid_backgrounds {
    --firstLayer-mediumFaded: rgb(175, 175, 175);
    --firstLayer-faded: rgb(153, 153, 153);
    --secondLayer-mediumFaded: rgb(136, 136, 136);
    --secondLayer-faded: rgb(109, 109, 109);
    --thirdLayer-mediumFaded: rgb(73, 73, 73);
    --thirdLayer-faded: rgb(39, 39, 39);
}


/* Text color changes */

.textColor-main {
    color: var(--main) !important;
}

.textColor-mainFaded {
    color: var(--main-faded) !important;
}

.textColor-mainMediumFaded {
    color: var(--main-mediumFaded) !important;
}

.textColor-light {
    color: var(--light) !important;
}

.textColor-lightFaded {
    color: var(--light-faded) !important;
}

.textColor-lightMediumFaded {
    color: var(--light-mediumFaded) !important;
}

.textColor-dark {
    color: var(--dark) !important;
}

.textColor-darkFaded {
    color: var(--dark-faded) !important;
}

.textColor-darkMediumFaded {
    color: var(--dark-mediumFaded) !important;
}

.textColor-veryLight {
    color: var(--veryLight) !important;
}

.textColor-veryLightFaded {
    color: var(--veryLight-faded) !important;
}

.textColor-veryLightMediumFaded {
    color: var(--veryLight-mediumFaded) !important;
}


/* Backgrounds */

.backgroundColor-main {
    background-color: var(--main) !important;
}

.backgroundColor-mainFaded {
    background-color: var(--main-faded) !important;
}

.backgroundColor-mainMediumFaded {
    background-color: var(--main-mediumFaded) !important;
}

.backgroundColor-light {
    background-color: var(--light) !important;
}

.backgroundColor-lightFaded {
    background-color: var(--light-faded) !important;
}

.backgroundColor-lightMediumFaded {
    background-color: var(--light-mediumFaded) !important;
}

.backgroundColor-dark {
    background-color: var(--dark) !important;
}

.backgroundColor-darkFaded {
    background-color: var(--dark-faded) !important;
}

.backgroundColor-darkMediumFaded {
    background-color: var(--dark-mediumFaded) !important;
}

.backgroundColor-veryLight {
    background-color: var(--veryLight) !important;
}

.backgroundColor-veryLightFaded {
    background-color: var(--veryLight-faded) !important;
}


/* Layers */

.backgroundColor-firstLayer {
    background-color: var(--firstLayer) !important;
}

.backgroundColor-firstLayerMediumFaded {
    background-color: var(--firstLayer-mediumFaded) !important;
}

.backgroundColor-firstLayerFaded {
    background-color: var(--firstLayer-faded) !important;
}

.backgroundColor-secondLayer {
    background-color: var(--secondLayer) !important;
}

.backgroundColor-secondLayerMediumFaded {
    background-color: var(--secondLayer-mediumFaded) !important;
}

.backgroundColor-secondLayerFaded {
    background-color: var(--secondLayer-faded) !important;
}

.backgroundColor-thirdLayer {
    background-color: var(--thirdLayer) !important;
}

.backgroundColor-thirdLayerMediumFaded {
    background-color: var(--thirdLayer-mediumFaded) !important;
}

.backgroundColor-thirdLayerFaded {
    background-color: var(--thirdLayer-faded) !important;
}

.backgroundColor-fourthLayer {
    background-color: var(--fourthLayer) !important;
}

.backgroundColor-fourthLayerMediumFaded {
    background-color: var(--fourthLayer-mediumFaded) !important;
}

.backgroundColor-fourthLayerFaded {
    background-color: var(--fourthLayer-faded) !important;
}

.link,
.link * {
    color: var(--veryLight) !important;
}

.link:hover,
.link:hover>* {
    color: var(--light) !important;
}

.lightmode .link,
.lightmode .link * {
    color: var(--light) !important;
}

.lightmode .link:hover,
.lightmode .link:hover>* {
    color: var(--dark) !important;
}

.font_size-0 {
    --fontAdd: -5px;
}

.font_size-1 {
    --fontAdd: -4px;
}

.font_size-2 {
    --fontAdd: -3px;
}

.font_size-3 {
    --fontAdd: -2px;
}

.font_size-4 {
    --fontAdd: -1px;
}

.font_size-5 {
    --fontAdd: 0px;
}

.font_size-6 {
    --fontAdd: 2px;
}

.font_size-7 {
    --fontAdd: 4px;
}

.font_size-8 {
    --fontAdd: 6px;
}

.font_size-9 {
    --fontAdd: 8px;
}

.font_size-10 {
    --fontAdd: 10px;
}

.line_spacing-0 {
    --lineSpacingAdd: 0;
}

.line_spacing-1 {
    --lineSpacingAdd: .05;
}

.line_spacing-2 {
    --lineSpacingAdd: .1;
}

.line_spacing-3 {
    --lineSpacingAdd: .15;
}

.line_spacing-4 {
    --lineSpacingAdd: .2;
}

.line_spacing-5 {
    --lineSpacingAdd: .25;
}

.line_spacing-6 {
    --lineSpacingAdd: .3;
}

.line_spacing-7 {
    --lineSpacingAdd: .35;
}

.line_spacing-8 {
    --lineSpacingAdd: .4;
}

.line_spacing-9 {
    --lineSpacingAdd: .45;
}

.line_spacing-10 {
    --lineSpacingAdd: .5;
}

.line_spacing-11 {
    --lineSpacingAdd: .55;
}

.line_spacing-12 {
    --lineSpacingAdd: .6;
}

.line_spacing-13 {
    --lineSpacingAdd: .65;
}

.line_spacing-14 {
    --lineSpacingAdd: .7;
}

.line_spacing-15 {
    --lineSpacingAdd: .75;
}

.line_spacing-16 {
    --lineSpacingAdd: .8;
}

.line_spacing-17 {
    --lineSpacingAdd: .85;
}

.line_spacing-18 {
    --lineSpacingAdd: .9;
}

.line_spacing-19 {
    --lineSpacingAdd: .95;
}

.line_spacing-20 {
    --lineSpacingAdd: 1;
}


/* Global Scope */


/* Text */


/* Font */

.font-roboto h1,
.font-roboto h2,
.font-roboto h3,
.font-roboto h4,
.font-roboto h5,
.font-roboto h6,
.font-roboto p,
.font-roboto input,
.font-roboto textarea {
    font-family: 'Roboto', sans-serif;
}

.font-times_new_roman h1,
.font-times_new_roman h2,
.font-times_new_roman h3,
.font-times_new_roman h4,
.font-times_new_roman h5,
.font-times_new_roman h6,
.font-times_new_roman p,
.font-times_new_roman input,
.font-times_new_roman textarea {
    font-family: 'Times New Roman', serif;
}

.font-open_sans h1,
.font-open_sans h2,
.font-open_sans h3,
.font-open_sans h4,
.font-open_sans h5,
.font-open_sans h6,
.font-open_sans p,
.font-open_sans input,
.font-open_sans textarea {
    font-family: 'Open Sans', sans-serif;
}

.font-merriweather h1,
.font-merriweather h2,
.font-merriweather h3,
.font-merriweather h4,
.font-merriweather h5,
.font-merriweather h6,
.font-merriweather p,
.font-merriweather input,
.font-merriweather textarea {
    font-family: 'Merriweather', serif;
}


/* fonts */

code {
    display: block;
    background: var(--black);
    word-break: break-all;
    padding: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.fa,
.material-icons {
    margin: 0px;
    line-height: calc(1 + var(--lineSpacingAdd));
    font-weight: 100;
    color: var(--text);
}

.desktop h1 {
    font-size: calc(36px + var(--fontAdd));
}

.desktop h2 {
    font-size: calc(32px + var(--fontAdd));
}

.desktop h3 {
    font-size: calc(28px + var(--fontAdd));
}

.desktop h4 {
    font-size: calc(24px + var(--fontAdd));
}

.desktop h5 {
    font-size: calc(20px + var(--fontAdd));
}

.desktop h6 {
    font-size: calc(18px + var(--fontAdd));
}

.desktop p {
    font-size: calc(16px + var(--fontAdd));
}

.mobile h1 {
    font-size: calc(26px + var(--fontAdd));
}

.mobile h2 {
    font-size: calc(24px + var(--fontAdd));
}

.mobile h3 {
    font-size: calc(22px + var(--fontAdd));
}

.mobile h4 {
    font-size: calc(20px + var(--fontAdd));
}

.mobile h5 {
    font-size: calc(18px + var(--fontAdd));
}

.mobile h6 {
    font-size: calc(16px + var(--fontAdd));
}

.mobile p {
    font-size: calc(12px + var(--fontAdd));
}

a {
    color: var(--link);
}


/* Google Icons */

.lightmode .material-icons.md-inactive {
    color: var(--darkmodeMedium);
}

.darkmode .material-icons.md-inactive {
    color: var(--lightmodeMedium);
}


/* Backgrounds */

html {
    width: 100%;
    margin: 0px;
    height: min-content;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: var(--firstLayer);
}


/* Pinpoint Scope */

.center {
    display: block;
    min-width: min-content;
    max-width: max-content;
    margin: auto;
    text-align: center;
}

.dark_text,
.mobile .mobile_dark_text,
.desktop .desktop_dark_text {
    color: var(--darkText) !important;
}

.primary_text {
    color: var(--main) !important;
}

.hover_primaryLight:hover {
    color: var(--light) !important;
}

.hover_primary:hover {
    color: var(--main) !important;
}

.hover_light_text:hover {
    color: var(--lightText) !important;
}

.mobile .disabled {
    font-size: 30px !important;
}

.desktop .disabled {
    font-size: 30px !important;
}

.disabled {
    background-color: var(--black-mediumFaded) !important;
    border-radius: 10%;
}

.light_text,
.mobile .mobile_light_text,
.desktop .desktop_light_text {
    color: var(--lightText) !important;
}

.dark_faded_background {
    background-color: var(--black-littleFaded) !important;
}

.dark_faded_background .fixed_text_color,
.dark_very_faded_background .fixed_text_color {
    color: var(--lightText) !important;
}

.dark_very_faded_background {
    background-color: var(--black-faded);
}

.light_background {
    background-color: var(--white-mediumFaded) !important;
}

.light_background .fixed_text_color {
    color: var(--darkText) !important;
}

.hover_change_background:hover {
    background-color: var(--thirdLayer);
}

.center {
    margin: auto;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.only_mobile .only_mobile_hidden,
.only_desktop .only_desktop_hidden,
.mobile .mobile_hidden,
.desktop .desktop_hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.rotate90 {
    transform: rotate(90deg);
    transform-origin: center;
}

.rotate180 {
    transform: rotate(180deg);
    transform-origin: center;
}

.darkmode .note {
    color: red !important;
}

.lightmode .note {
    color: rgb(197, 39, 39) !important;
}

.center_children {
    display: flex;
    width: 100vw;
    align-items: center;
}

.only_desktop .hover_grow {
    transition: transform .2s ease-in-out;
}

.only_desktop .hover_grow:hover {
    transform: scale(1.1);
    z-index: 99;
}

.grow {
    transform: scale(1.5);
}

.pointer,
.only_desktop.mobile .mobile_pointer {
    cursor: pointer;
}

.hover_over:hover>.show_me {
    visibility: visible;
    display: block;
    animation-name: fadeIn;
    animation-duration: .25s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: .25s;
}

.hover_over>.show_me {
    visibility: hidden;
    display: none;
}

.break_wrap {
    overflow-wrap: break-word;
}

.indent {
    text-indent: var(--textIndent);
}

.circle {
    border-radius: 50%;
}


/* Widths */

.half {
    width: 50% !important;
}

.desktop .desktop_half {
    width: 50% !important;
}

.mobile .mobile_half {
    width: 50% !important;
}

.third {
    width: calc(100% / 3) !important;
}

.desktop .desktop_third {
    width: calc(100% / 3) !important;
}

.mobile .mobile_third {
    width: calc(100% / 3) !important;
}

.two-thirds {
    width: calc(200% / 3) !important;
}

.desktop .desktop_two-thirds {
    width: calc(200% / 3) !important;
}

.mobile .mobile_two-thirds {
    width: calc(200% / 3) !important;
}

.three-fourths {
    width: 75% !important;
}

.desktop .desktop_three-fourths {
    width: 75% !important;
}

.mobile .mobile_three-fourths {
    width: 75% !important;
}


/* Icons */

.fa,
.fab {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out, background-image .2s ease-in-out;
}

.fa,
.fab {
    background-color: var(--thirdLayer);
    color: var(--text);
}

.fa-facebook:hover {
    background-color: #2663e7;
    color: white !important;
}

.fa-instagram:hover {
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: white !important;
}