<!-- <h1 class="center">Other Stuff I Do!</h1> -->
<!-- <hr> -->
<div class="subpage" id="score-editing">
    <h2 class="center page-title">Score Editing</h2>
    <div class="banner">
        <div class="column_display">
            <div class="cd_column">
                <div class="cd_content dark_faded_background">
                    <p>
                        Have you ever written or arranged a piece then, when preparing to print and give to your performers, spent hours on end trying to format it properly? This is a common struggle with composers and arrangers of all calibers. I can help! If you want your
                        piece to be printable in a crunch, the tools I have will get those pdfs quickly! Pricing will vary depending on the length of the piece, complexity, and number of parts.
                    </p>
                </div>
            </div>
            <div class="cd_column">
                <!-- Roar -->
            </div>
        </div>
    </div>
</div>