<div class="subpage" id="portfolio">
    <h1 class="center page-title">Portfolio</h1>
    <div class="centering_box_container animate__delay-block">
        <div class="centering_box nav-link hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a class="card-link" href="/my-compositions" data-link="nav"></a>
            <h3 class="card_label">My Compositions</h3>
            <div id="card1" class="card"></div>
        </div>
        <div class="centering_box nav-link hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a class="card-link" href="/about/projects" data-link="nav"></a>
            <h3 class="card_label">My Projects</h3>
            <div id="card2" class="card"></div>
        </div>
        <div class="centering_box nav-link animate__animated animate__bounceInRight animate__delay-var">
            <div class="card-link disabled"></div>
            <h3 class="card_label">Recordings (coming soon)</h3>
            <div id="card3" class="card"></div>
        </div>
    </div>
    <!-- <div class="centering_box_container animate__delay-block">
        <div class="centering_box hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a href="../../static/pdfs/technology_resume.pdf" download="technology_resume.pdf" title="Technology Resume" class="pointer"><i class="fa large fa-file-pdf fa-8x backgroundColor-firstLayer"></i></a>
            <h5 class="center">Technology Resume</h5>
        </div>
        <div class="centering_box hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a href="../../static/pdfs/" download="pdfName" title="Teaching Resume"><i class="fa fa-file-pdf fa-8x backgroundColor-firstLayer"></i></a>
            <h5 class="center">Teaching Resmume</h5>
        </div>
        <div class="centering_box hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a href="../../static/pdfs/" download="pdfName" title="Saxophone Resume"><i class="fa fa-file-pdf fa-8x backgroundColor-firstLayer"></i></a>
            <h5 class="center">Saxophone Resume</h5>
        </div>
        <div class="centering_box hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a href="../../static/pdfs/" download="pdfName" title="Composition Resume"><i class="fa fa-file-pdf fa-8x backgroundColor-firstLayer"></i></a>
            <h5 class="center">Composition Resume</h5>
        </div>
        <div class="centering_box hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a href="../../static/pdfs/" download="pdfName" title="Full CV"><i class="fa fa-file-pdf fa-8x backgroundColor-firstLayer"></i></a>
            <h5 class="center">Full CV</h5>
        </div>
    </div> -->
</div>