<div class="subpage">
    <h1 class="center page-title">My Projects</h1>
    <p class="center">Click on a project to see what it's about!</p>
    <div id="project-container">
        <div class="project-nav">
            <h6 class="project-navbutton pointer" data-project="desk">Desk</h6>
            <!-- <h6 class="project-navbutton pointer" data-project="acceptance">Symphonic Winds Recording Project</h6> -->
            <h6 class="project-navbutton pointer" data-project="website">Website</h6>
            <h6 class="project-navbutton pointer" data-project="intonation">Intonation Project</h6>
            <h6 class="project-navbutton pointer" data-project="live_tempo">Live Tempo</h6>
            <!-- <h6 class="project-navbutton pointer" data-project="jazz-combo">Jazz Combo</h6> -->
            <!-- <h6 class="project-navbutton pointer" data-project="librarian">Librarian</h6> -->
            <h6 class="project-navbutton pointer" data-project="film_scoring">Film Scoring</h6>
        </div>
        <div id="project-display">
            <div class="project hidden" id="project-desk">
                <h4 class="project-title">Desk</h4>
                <h6 class="project-title">Design Process</h6>
                <div id="design_slideshow" class="slideshow">
                    <div class="slideshow-container">
                        <div id="design_slides">
                            <div id="design_slide1" class="slide design_slides">
                                <div class="numbertext design_slide-num"></div>
                                <div class="text">
                                    <p>Draw basic layout</p>
                                </div>
                            </div>
                            <div id="design_slide2" class="slide design_slides" style="display:block;">
                                <div class="numbertext design_slide-num"></div>
                                <div class="text">
                                    <p>Make all the components that will go on desk</p>
                                </div>
                            </div>
                            <div id="design_slide3" class="slide design_slides">
                                <div class="numbertext design_slide-num"></div>
                                <div class="text">
                                    <p>Try out various layouts of each component</p>
                                </div>
                            </div>
                            <div id="design_slide4" class="slide design_slides">
                                <div class="numbertext design_slide-num"></div>
                                <div class="text">
                                    <p>Make desk structure</p>
                                </div>
                            </div>
                            <div id="design_slide5" class="slide design_slides">
                                <div class="numbertext design_slide-num"></div>
                                <div class="text">
                                    <p>Add on components</p>
                                </div>
                            </div>
                            <div id="design_slide6" class="slide design_slides">
                                <div class="numbertext design_slide-num"></div>
                                <div class="text">
                                    <p>Other attempt out of wood (this <i>wood</i> have been significantly more expenseive!)</p>
                                </div>
                            </div>
                        </div>
                        <!-- Next and previous buttons -->
                        <a class="slide-prev material-icons" id="design_prev">navigate_before</a>
                        <a class="slide-next material-icons" id="design_next">navigate_next</a>
                    </div>
                    <br>
                    <!-- The dots/circles -->
                    <div id="design_slide_dot-container" style="text-align:center">
                    </div>
                </div>
                <h6 class="project-title">Building Process</h6>
                <div id="build_slideshow" class="slideshow">
                    <div class="slideshow-container">
                        <div id="build_slides">
                            <div id="build_slide1" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>First Weld in 7 years! (I know it's not great, I don't have the best welder either)</p>
                                </div>
                            </div>
                            <div id="build_slide2" class="slide build_slides" style="display:block;">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Simple Keyboard Frame</p>
                                </div>
                            </div>
                            <div id="build_slide3" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Make some Legs</p>
                                </div>
                            </div>
                            <div id="build_slide4" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Make a small frame</p>
                                </div>
                            </div>
                            <div id="build_slide5" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Dirty hands ;)</p>
                                </div>
                            </div>
                            <div id="build_slide6" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Frame Assembly</p>
                                </div>
                            </div>
                            <div id="build_slide7" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Bought wood with my friend Bear</p>
                                </div>
                            </div>
                            <div id="build_slide8" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Painted the frame and cut some wood</p>
                                </div>
                            </div>
                            <div id="build_slide9" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Cut edge pieces, glue on, then router</p>
                                </div>
                            </div>
                            <div id="build_slide10" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Prepare to stain</p>
                                </div>
                            </div>
                            <div id="build_slide11" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Stain time!</p>
                                </div>
                            </div>
                            <div id="build_slide12" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Ready for second layer</p>
                                </div>
                            </div>
                            <div id="build_slide13" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Staining done and moved into my room</p>
                                </div>
                            </div>
                            <div id="build_slide14" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>Prepare components</p>
                                </div>
                            </div>
                            <div id="build_slide15" class="slide build_slides">
                                <div class="numbertext build_slide-num"></div>
                                <div class="text">
                                    <p>All Done!</p>
                                </div>
                            </div>
                        </div>
                        <!-- Next and previous buttons -->
                        <a class="slide-prev material-icons" id="build_prev">navigate_before</a>
                        <a class="slide-next material-icons" id="build_next">navigate_next</a>
                    </div>
                    <br>
                    <!-- The dots/circles -->
                    <div id="build_slide_dot-container" style="text-align:center">
                    </div>
                </div>
            </div>
            <div class="project hidden" id="project-intonation">
                <h4 class="project-title">Intonation Project</h4>
                <h6 class="project-title"><a href="/webapp/tuner" class="link" target="_blank">View my progress, click here!</a></h6>
                <iframe class="project-video" src="https://www.youtube.com/embed/ptedL6PBhHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="project hidden" id="project-live_tempo">
                <h4 class="project-title">Live Tempo</h4>
                <iframe class="project-video" src="https://www.youtube.com/embed/KLl-tPMtl6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="project hidden" id="project-film_scoring">
                <h4 class="project-title">Film Scoring</h4>
                <p class="project-description">
                    In my film scoring class with Dr. Alexander, one of our assignments was to score the <a class="link" target="_blank" href="https://www.youtube.com/watch?v=AUtS7zHs7TE&ab_channel=TheToaMaster">docking scene for the film Interstellar</a>                    as if we were hired to do it.
                    <br>
                    <br> I think I'm going to do more of these in the future and post them on my youtube channel in the playlist embedded below! It was quite fun, but some may have mixed feelings because these were already scored by some of the greatest
                    composers out there. This is mostly for fun and to showcase my compositional style to those who are looking for a film composer!
                </p>
                <iframe class="project-video" src="https://www.youtube.com/embed/videoseries?list=PL98HpZFGzc5D-kCX79_ebrjiv6d-NC0BB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="project hidden" id="project-website">
                <h4 class="project-title">Website</h4>
                <p class="project-description">
                    This whole website was built by me without a website editor like Wix or Wordpress!
                    <br>
                    <br> I started to learn how to program with javascript in december of 2020 when I built the Boise State University Library Database Worksheet. This led me down a path of learning and brought me to <a href="https://www.codecademy.com/"
                        class="link" target="_blank">CodeAcademy</a>!
                    <br><br> This project originally started with my friend Bear, we were going to do a join business venture called "Moffett King Studio," but our schedules could not align well enough to do much with it so we decided to do independent
                    ventures, hence "King Music Studio." Regardless, it was a lot of fun and I learned a lot in the process!
                </p>

                <div id="website_slideshow" class="slideshow">
                    <div class="slideshow-container">
                        <div id="website_slides">
                            <div id="website_slide1" class="slide website_slides">
                                <div class="numbertext website_slide-num"></div>
                                <div class="text">
                                    <p>Coding in Visual Studio Code</p>
                                </div>
                            </div>
                            <div id="website_slide2" class="slide website_slides" style="display:block;">
                                <div class="numbertext website_slide-num"></div>
                                <div class="text">
                                    <p>Website take 1</p>
                                </div>
                            </div>
                            <div id="website_slide3" class="slide website_slides">
                                <div class="numbertext website_slide-num"></div>
                                <div class="text">
                                    <p>Website take 2</p>
                                </div>
                            </div>
                            <div id="website_slide4" class="slide website_slides">
                                <div class="numbertext website_slide-num"></div>
                                <div class="text">
                                    <p>Website take 3</p>
                                </div>
                            </div>
                            <div id="website_slide5" class="slide website_slides">
                                <div class="numbertext website_slide-num"></div>
                                <div class="text">
                                    <p>Website take 4</p>
                                </div>
                            </div>
                            <!-- <div id="website_slide6" class="slide website_slides">
                            <div class="numbertext website_slide-num"></div>
                            <div class="text">
                                <p>Website take 5 (No, not <a class="link" target="_blank" href="https://www.youtube.com/watch?v=Eu-88eCAtHU&ab_channel=PaulDesmond-Topic">Paul Desmond</a>)</p>
                            </div>
                        </div> -->
                        </div>
                        <!-- Next and previous buttons -->
                        <a class="slide-prev material-icons" id="website_prev">navigate_before</a>
                        <a class="slide-next material-icons" id="website_next">navigate_next</a>
                    </div>
                    <br>
                    <!-- The dots/circles -->
                    <div id="website_slide_dot-container" style="text-align:center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>