<div class="subpage">
    <h1 class="center page-title">About Me</h1>
    <div id="about-bio">
        <p>
            Hello! I’m Taylor Reese King. I am a 4th year Music Composition major at Boise State University, and I’m also working on their new Arts Entrepreneurship minor! Starting on piano at age six, I picked up the alto saxophone at 10, and began composing at
            13. At 16, I started teaching saxophone, and offering composition lessons since 19. Since 2020, I've started studying sound engineering, and built a home recording studio. I apply this practice in lessons to help students visualize what they're
            playing.
            <br>
            <br> I have written over 20 compositions, with seven having been performed or recorded. You can see several <u><a href="composition/my-compositions" data-link="nav" class="link">here</a></u>! I was on a robotics team in high school and now
            mentor the team in mechanical design and building. Recently, I've developed a love for computer science. One thing I'm proud of in that field combining music and programming is <u><a href="/webapp/tuner" target="_blank" class="link">this</a></u>!<br>
            <br>Whatever my future holds, I know music will be a part of it!
        </p>
    </div>
    <div class="info_dropdown-container js-dd-ctnr animate__delay-block mb-dt-dd" id="about-drodown-container">
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>Private Instructors</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p>
                    <br> <a href="https://www.passionatomusic.com/instructor" class="link" target="_blank">Dr. Yuxin Ouyang</a>, composition (2022 - present)
                    <br> <a href="http://derekganong.com" target="_blank" class="link">Dr. Derek Ganong</a>, sound engineering (2020 - present)
                    <br> <a href="https://alexandrasjobeck.wixsite.com/jazz" target="_blank" class="link">Dr. Alex Sjobeck</a>, jazz piano (2020 - present)
                    <br> <a href="https://ericscottalexander.com" target="_blank" class="link">Dr. Eric Alexander</a>, composition (2018 - 2021)
                    <br> Mr. Rodney Zuroeveste, saxophone (2015 - 2021)
                    <br> Mr. Marcellus Brown, conducting (2018 - 2021)
                    <br> Mr. Jim Ogle, conducting (2018 - 2019)
                    <br> Mr. Sandon Mayhew, saxophone (2013 - 2015)
                    <br> Mr. Leonardo Escobar, composition (2015 - 2018)
                    <br> Ms. Reese Robles, conducting (2017 - 2018)
                </p>
            </div>
        </div>
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>Work Experience</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p>
                    Boise State University Band Librarian (2019 - present)
                    <br> Saxophone Instructor (2016 - present)
                    <br> Composition Instructor (2017 - present)
                    <br> Freelance Sound Engineer (2020 - present)
                    <br> <a href="https://www.armadacorps.org" target="_blank" class="link">Armada Winds</a> Music/Woodwind Caption Head and Sound Engineer (2021 - present)
                    <br> iCode Instructor (2021 - present)
                </p>
            </div>
        </div>
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>Ensemble Experience</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p>
                    Boise State University Symphonic Winds, principal alto saxophone (2018 - present)
                    <br>Boise State University Jazz Orchestra, lead alto (2018 - present)
                    <br>Boise State University Keith and Catherine Stein <a href="https://www.boisestate.edu/thunder/" target="_blank" class="link">Blue Thunder Marching Band</a>, alto saxophone (2018 - present)
                    <br>Brady Street Jazz Combo, alto/soprano saxophone (2021 - 2022)
                    <br><a href="https://www.armadacorps.org" target="_blank" class="link">Armada Winds</a> (2018 - 2019)
                    <br>Boise State University Symphonic Orchestra, alto saxophone (2019)
                    <br>Boise State University Saxophone Quartet, alto/soprano saxophone (2018 - 2020)
                    <br>Boise State University Saxophone Choir, alto/soprano (2018 - 2019)
                    <br>Meridian Symphony, alto saxophone (2017 - 2018)
                    <br>Boise Music Week orchestra pit, Thoroughly Modern Millie, alto/soprano/tenor saxophone (2019)
                    <br>IMEA All State Concert Band, principal alto/soprano saxophone (2018)
                    <br>NAfME All Northwest Concert Band, alto saxophone (2017)
                </p>
            </div>
        </div>
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>Teaching Experience</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p>
                    Saxophone Instructor
                    <br> Composition Instructor
                    <br> Robotics Team <a href="https://teamtators.org" target="_blank" class="link">2122</a> Mentor
                    <br> STEM Instructor (iCode)
                    <br> <a href="https://www.armadacorps.org" target="_blank" class="link">Armada Winds</a> Music/Woodwind Caption Head
                </p>
            </div>
        </div>
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>Projects</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p class="center link"><a href="/about/projects" data-link="nav">See: Projects</a></p>
                <p class="link"><a data-link="nav" href="/about/projects" data-project="desk">Desk</a></p>
                <p class="link"><a data-link="nav" href="/about/projects" data-project="website">Website</a></p>
                <p class="link"><a data-link="nav" href="/about/projects" data-project="intonation">Intonation Project</a></p>
                <!-- <p class="link"><a data-link="nav" href="/about/projects" data-project="acceptance">Symphonic Winds Recording Project</a></p> -->
                <p class="link"><a data-link="nav" href="/about/projects" data-project="live_tempo">Live Tempo</a></p>
                <!-- <p class="link"><a data-link="nav" href="/about/projects" data-project="jazz_combo">Jazz Combo</a></p> -->
                <!-- <p class="link"><a data-link="nav" href="/about/projects" data-project="librarian">Librarian</a></p> -->
                <p class="link"><a data-link="nav" href="/about/projects" data-project="film_scoring">Film Scoring</a></p>
            </div>
        </div>
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>Awards</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p>
                    Boise State University Undergraduate Research and Creative Activities (<a target="_blank" href="https://www.boisestate.edu/undergraduate-research/urca/" class="link">URCA</a>) Grant, Spring 2022
                    <br> Idaho Jazz Education Endowment Scholarship, Fall 2021, Spring 2021, Fall 2020
                    <br> Dean's List with High Honors, Spring 2021, Fall 2020, Spring 2020, Fall 2019
                    <br> Concerto Aria, 2020 (first ever to win performing own composition)
                    <br> Grand Teton Music Festival - 2nd Place, 2018
                    <br> Kat Pinney Scholarship, 2018
                    <br> Paul Tillitson Scholarship, 2018
                    <br> John Phillip Sousa Award, 2018
                    <br> Boise State University Concert Band Composition Competition, 2018 with <a href="/composition/display:Life's Lessons" data-link="nav" class="link">Life's Lessons</a>
                    <br> IMEA State Solo Competition - 1st Place, 2018
                    <br> Boise Blues Society Scholarship, 2015
                </p>
            </div>
        </div>
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>References</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p> <a href="https://ericscottalexander.com" target="_blank" class="link">Dr. Eric Alexander</a>(Composition instructor)</p>
                <p class="indent link"><a href="mailto: ericsalexander@gmail.com">ericsalexander@gmail.com</a></p>
                <p>Mr. Rodney Zuroeveste (Private saxophone instructor)</p>
                <p class="indent link"><a href="mailto: rodneyzuro@gmail.com">rodneyzuro@gmail.com</a></p>
                <p><a href="http://derekganong.com" target="_blank" class="link">Dr. Derek Ganong</a> (Jazz and sound engineering instructor)</p>
                <p class="indent link"><a href="mailto: derekganong@boisestate.edu">derekganong@boisestate.edu</a></p>
                <p><a href="https://alexandrasjobeck.wixsite.com/jazz" target="_blank" class="link">Dr. Alex Sjobeck</a> (Jazz and piano instructor)</p>
                <p class="indent link"><a href="mailto: alexsjobeckmusic@gmail.com">alexsjobeckmusic@gmail.com</a></p>
                <p>Mr. Marcellus Brown (BSU Director of Bands and private conducting instructor)</p>
                <p class="indent link"><a href="mailto: mbrown@boisestate.edu">mbrown@boisestate.edu</a></p>
                <p>Dr. Joe Tornello (Blue Thunder Director)</p>
                <p class="indent link"><a href="mailto: joetornello@boisestate.edu">joetornello@boisestate.edu</a></p>
                <p>Dr. Bill Waterman (Blue Thunder Assistant Director)</p>
                <p class="indent link"><a href="mailto: billwaterman@boisestate.edu">billwaterman@boisestate.edu</a></p>
                <p><a class="link" href="https://www.tsextonmusic.com/" target="_blank">Mr. Tim Sexton</a> (Armada Winds Director 2018 - 2019)</p>
                <p class="indent link"><a href="mailto: tsexton.music@gmail.com">tsexton.music@gmail.com</a></p>
                <p>Mr. David Davis (Armada Winds Director 2021 - present)</p>
                <p class="indent link"><a href="mailto: ddavis@msd134.org">ddavis@msd134.org</a></p>
                <p>Mr. Frank Manstropaolo (Armada Corps Director)</p>
                <p class="indent link"><a href="mailto: info@armadacorps.org">info@armadacorps.org</a></p>
                <p>Mr. Sandon Mayhew (Private saxophone instructor)</p>
                <p class="indent link"><a href="mailto: sandonmayhew@q.com">sandonmayhew@q.com</a></p>
                <p>Mr. Jim Ogle (Meridian Symphony Director and private conducting instructor)</p>
                <p class="indent link"><a href="mailto: jimogle@boisestate.edu">jimogle@boisestate.edu</a></p>
                <p>Mr. Ken Harris (Boise Blues Society)</p>
                <p class="indent link"><a href="mailto: kjharris1925@gmail.com">kjharris1925@gmail.com</a></p>
                <p>Mr. Mark Wibbles (Robotics team <a href="https://teamtators.org" target="_blank" class="link">2122</a> head mentor)</p>
                <p class="indent link"><a href="mailto: mjwibbles@gmail.com">mjwibbles@gmail.com</a></p>
                <p>Mr. Bob Lawton (Robotics team <a href="https://teamtators.org" target="_blank" class="link">2122</a> mentor)</p>
                <p class="indent link"><a href="mailto: ryblawton@gmail.com">ryblawton@gmail.com</a></p>
            </div>
        </div>
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>Education</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p>Boise State University (2018 - present)</p>
                <p class="indent">BM Music Composition</p>
                <p class="indent">Arts Entrepreneurship Minor</p>
                <p class="indent">GPA: 3.86</p>
                <br>
                <p>Colorado Institute of Musical Instrument Technology (2021)</p>
                <p class="indent">Certification in Saxophone Repair</p>
            </div>
        </div>
        <div class="info_dropdown animate__animated animate__slideInLeft animate__delay-var about-dropdown js-about-dd">
            <div class="info_dropdown-title pointer">
                <h3>Other Experience</h3>
                <i class="material-icons info_dropdown-arrow pointer">arrow_drop_down</i>
            </div>
            <div class="info_dropdown-content hidden">
                <p>CAD (since 2013)</p>
                <p class="indent">Solidworks</p>
                <p class="indent">Onshape</p>
                <br>
                <p>Programming (since 2020)</p>
                <p class="indent">JavaScript/HTML/CSS</p>
                <p class="indent">Python</p>
            </div>
        </div>
    </div>
</div>