<div class="subpage">
    <h1 class="center page-title">Contact Me!</h1>
    <div class="contact-profile column_display">
        <div class="profile-picture cd_column"></div>
        <div class="profile-content cd_column">
            <h5>(208) 392-8139</h5>
            <h5 class="link"><a href="mailto: taylor.reese.king@gmail.com">taylor.reese.king@gmail.com</a></h5>
        </div>
    </div>
    <form action="/send-email" class="form-send_email center" method="post">
        <h4 class="form_title">Or send a message below!</h4>
        <label for="first"><h6>First Name<span class="note">*</span></h6><input name="first_name" placeholder="John*" type="text" required></label>
        <label for="last"><h6>Last Name<span class="note">*</span></h6><input name="last_name" placeholder="Williams*" type="text" required></label>
        <label for="email"><h6>Email<span class="note">*</span></h6><input name="email" placeholder="email@domain.com*" type="email" required></label>
        <label for="phone"><h6>Phone</h6><input name="phone" placeholder="(123) 456-7890" type="tel"></label>
        <label for="message"><h6>Message<span class="note">*</span></h6><textarea name="message" placeholder="Type your message here!" type="text" required></textarea></label>
        <input type="submit" class="pointer">
    </form>
</div>