<div class="subpage">
    <div id="welcome_banner">
        <div class="banner_img">
            <div class="dark_faded_background animate__animated animate__slideInRight" id="welcome_content">
                <h2 class="center light_text">Welcome to King Music Studio with <br><a data-link="nav" href="/about" title="Click to learn more!" class="link">Taylor Reese King</a>!</h2>
                <h4 class="bio_subtitle">
                    - <a href="https://www.youtube.com/channel/UCGSn3z4OrqYETiOtRbnwdvg" target="_blank" class="link">Musician</a>
                    <br> - <a href="/my-compositions" data-link="nav" class="link">Composer</a>
                    <br> - <a href="/recording-studio" data-link="nav" class="link">Sound Engineer</a>
                    <br> - <a href="/lessons" data-link="nav" class="link">Educator</a>
                </h4>
                <!-- <p class="bio_text light_text">
                    INSERT NEW SHIT HERE! WHAT DO I DO!?
                </p> -->
                <h2 class="center">What I do</h2>
                <div class="centering_box_container animate__delay-block" id="what_I_do">
                    <div data-inviewport-hold class="centering_box nav-link hover_grow animate__bounceInRight animate__delay-var">
                        <a class="card-link" href="/lessons" data-link="nav"></a>
                        <h3 class="card_label">Lessons</h3>
                        <div id="card1" class="card"></div>
                    </div>
                    <div data-inviewport-hold class="centering_box nav-link hover_grow animate__bounceInRight animate__delay-var">
                        <a class="card-link" href="/recording-studio" data-link="nav"></a>
                        <h3 class="card_label">Recording/Mixing</h3>
                        <div id="card2" class="card"></div>
                    </div>
                    <div data-inviewport-hold class="centering_box nav-link hover_grow animate__bounceInRight animate__delay-var">
                        <a class="card-link" href="/my-compositions" data-link="nav"></a>
                        <h3 class="card_label">My Compositions</h3>
                        <div id="card3" class="card"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="updates-banner">
        <h2 class="center page-title">King Music Studio Updates and Events!</h2>
        <div class="centering_box_container">
            <div class="updates-card centering_box">
                <h6 class="updates-title">Composition Studio Recital!</h6>
                <div id="composition_recital-update_card" class="updates-img"></div>
            </div>
            <div class="updates-card centering_box">
                <h6 class="updates-title">Armada Winds Performances!</h6>
                <div id="armada-update_card" class="updates-img"></div>
            </div>
            <div class="updates-card centering_box">
                <h6 class="updates-title">New Composition - Conversations!</h6>
                <div id="conversations-update_card" class="updates-img"></div>
            </div>
            <div class="updates-card centering_box">
                <h6 class="updates-title">Upcoming piece - Live Tempo!</h6>
                <div id="live_tempo-update_card" class="updates-img"></div>
            </div>
            <!-- <div class="updates-card centering_box hover_grow">
                <h6 class="updates-title">Upcoming performance - Conversations!</h6>
                <div id="cwu-update_card"></div>
            </div> -->
        </div>
        <a href="https://calendar.google.com/calendar/u/0?cid=ZGwwdXJiZ3Y0Z2Z0M20wMHRoZDUybHJuMGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" target="_blank" class="center button">
            <h3 class="center">Subscribe to the Google Calendar!</h3>
        </a>
        <br>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FDenver&showTitle=1&showCalendars=0&showTabs=0&mode=AGENDA&showTz=0&showPrint=0&showNav=0&src=ZGwwdXJiZ3Y0Z2Z0M20wMHRoZDUybHJuMGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA"
            style="border:solid 1px #777" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
        <hr>
    </div>
    <!-- <div id="new_features-banner">
        <div class="column_display">
            <div class="cd_column animate__delay-block">
                <h2 class="center page-title">New Website Features!</h2>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                    <i class="material-icons">account_circle</i>
                    <h4 class="feature_title">Client Accounts! <a href="/account/sign-up" data-link="nav" class="link">Sign up</a>!</h4>
                </div>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                    <i class="material-icons animate__animated animate__shakeX animate__infinite">animation</i>
                    <h4 class="feature_title">Animations!</h4>
                </div>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                    <i class="fa fa-external-link" id="new_features_popup-popup_icon"></i>
                    <h4 class="feature_title">Better looking popups!</h4>
                </div>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                    <i class="material-icons">face</i>
                    <h4 class="feature_title">Better <a href="/about" data-link="nav" class="link">About Me</a> Page</h4>
                </div>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                    <i class="material-icons">contact_page</i>
                    <h4 class="feature_title">Added <a href="/about/portfolio" data-link="nav" class="link">Portfolio</a></h4>
                </div>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                    <i class="material-icons">edit_note</i>
                    <h4 class="feature_title">Added <a href="/about/projects" data-link="nav" class="link">Projects</a> page!</h4>
                </div>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft pointer link open-popup" data-popup="settings">
                    <i class="material-icons">settings</i>
                    <h4 class="feature_title">More Settings</h4>
                </div>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                    <i class="material-icons">cookie</i>
                    <h4 class="feature_title">Bake yourself a cookie! (go to <span class="link open-popup pointer" data-popup="settings">settings</span>)</h4>
                </div>
                <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                    <i class="material-icons">notifications</i>
                    <h4 class="feature_title">Page Notifications</h4>
                </div>
            </div>
        </div>
    </div> -->
    <div id="media_slideshow_banner">
        <h2 class="center">Media</h2>
        <div id="home_slideshow" class="slideshow">
            <div class="slideshow-container">
                <div id="home_slides">
                    <div id="home_slide1" class="slide home_slides">
                        <div class="numbertext home_slide-num"></div>
                        <div class="text">
                            <p>IJEE Scholarship Recipient Showcase with Sandon Mayhew and Michael Rosenthal</p>
                        </div>
                    </div>
                    <div id="home_slide2" class="slide home_slides">
                        <div class="numbertext home_slide-num"></div>
                        <div class="text">
                            <p>"Saxstache" - Symphonic Winds Fall 2019</p>
                        </div>
                    </div>
                    <div id="home_slide3" class="slide home_slides">
                        <div class="numbertext home_slide-num"></div>
                        <div class="text">
                            <p>Alexander Hicks and me at the Sandbar!</p>
                        </div>
                    </div>
                    <div id="home_slide4" class="slide home_slides">
                        <div class="numbertext home_slide-num"></div>
                        <div class="text">
                            <p>Running into Tim Sexton at a BSU away game!</p>
                        </div>
                    </div>
                    <div id="home_slide5" class="slide home_slides">
                        <div class="numbertext home_slide-num"></div>
                        <div class="text">
                            <p>My home studio (in progress)</p>
                        </div>
                    </div>
                    <div id="home_slide6" class="slide home_slides">
                        <div class="numbertext home_slide-num"></div>
                        <div class="text">
                            <p>Mixing in my old studio!</p>
                        </div>
                    </div>
                    <div id="home_slide7" class="slide home_slides">
                        <div class="numbertext home_slide-num"></div>
                        <div class="text">
                            <p>Doot doot on soprano sax</p>
                        </div>
                    </div>
                    <!-- <div id="home_slide8" class="slide home_slides">
                    <div class="numbertext home_slide-num"></div>
                    <div class="text"><p>Taylor recording on saxophone</div>
                </div> -->
                </div>
                <!-- Next and previous buttons -->
                <a class="slide-prev material-icons" id="home_prev">navigate_before</a>
                <a class="slide-next material-icons" id="home_next">navigate_next</a>
            </div>
            <br>
            <!-- The dots/circles -->
            <div id="home_slide_dot-container" style="text-align:center">
            </div>
        </div>
        <hr>
    </div>
    <div id="coming_soon_banner">
        <h2 class="center">Upcoming Website Features!</h2>
        <div class="column_display" id="coming_soon">
            <div class="cd_column">
                <h3 class="column_title"><strong><u>Client Accounts</u></strong></h3>
                <p><i>
                    These features will be available for client accounts in the future:
                </i></p>
                <dl>
                    <dt><h5><strong>Student Accounts: Downloadable Materials</strong></h5></dt>
                    <dd>
                        <p>
                            I will provide links to downloadable documents specifically related to lessons that I have curated, organized and tailored for each student.
                        </p>
                    </dd>
                    <dt><h5><strong>All Clients: Terms of Service Agreements</strong></h5></dt>
                    <dd>
                        <p>
                            I will provide a memorandum of understanding for each client via email, but will also house them for convenience.
                        </p>
                    </dd>
                    <dt><h5><strong>All Clients: Account Information</strong></h5></dt>
                    <dd>
                        <p>
                            I will provide updated information about payments due and paid.
                        </p>
                    </dd>
                </dl>
            </div>
            <div class="cd_column">
                <h3 class="column_title"><u><strong>Play my music while you navigate!</strong></u></h3>
                <dl>
                    <dt>
                        <p><i>
                            I soon will add a global playback element where you can select which music you want to listen to as you navigate this site. When you change to a different page, you can play/pause it, but it won't stop if you change to a different page.
                        </i></p>
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</div>