<div class="subpage" id="my_compositions" data-link="4">
    <h1 class="center page-title">My Compositions</h1>
    <h4 class="subpage_description only_mobile_hidden" id="hover_description">Hover over a piece to hear a sample!<span class="note">*</span></h4>
    <p class="subpage_description only_mobile_hidden" id="hover_disclaimer">
        <i><small><span class="note">*Note:</span> There may be a little pop the first time you hover over one in your speakers depending on your audio system. Each piece fades in but it may be good to turn your speaker's volume down at first.</small></i>
        <i><small><span class="note">Note:</span> There may be a little pop the first time you hover over one in your speakers depending on your audio system. Each piece fades in but it may be good to turn your speaker's volume down at first. <br><span class="note">Also: </span>Due to limited storage size, the audio quality is compressed and thus doesn't sound like a studio sound would usually sound.</small></i>
    </p>
    <div class="banner" id="composition_commission">
        <div class="column_display">
            <div class="cd_column">
                <div class="cd_content dark_faded_background">
                    <h3 class="center page-title">Commissions</h3>
                    <br>
                    <p>
                        Would like a piece written for you or your ensemble? I can do that! My rates vary by length, complexity and timelines. Note: Compositions can take a few months to complete. Listen to a few of my pieces below! In addition to commissions, I can also work
                        music for your film, whether it be a documentary, advertisement, or flick, I can help! Check out some of the film projects I've done <a href="/about/projects" data-link="nav" class="link">here</a>!
                        <br><br> If you're interested, <a href="/contact" data-link="nav" class="link">contact me</a>! I am more than willing to be flexible to your budget!
                    </p>
                </div>
            </div>
            <div class="cd_column">
                <!-- nothing -->
            </div>
        </div>
    </div>
    <div class="assortment_container">
        @ASSORTMENTS@
    </div>
</div>