<div class="subpage other_subpage" id="other_front">
    <h1 class="center page-title">Other Stuff I Do!</h1>
    <hr>
    <div class="centering_box_container animate__delay-block">
        <div class="centering_box nav-link hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a class="card-link" href="/other/score-editing" data-link="nav"></a>
            <h3 class="card_label">Score Editing</h3>
            <div id="card1" class="card"></div>
        </div>
        <div class="centering_box nav-link hover_grow animate__animated animate__bounceInRight animate__delay-var">
            <a class="card-link" href="/other/take-note" data-link="nav"></a>
            <h3 class="card_label">Take Note Podcast</h3>
            <div id="card2" class="card"></div>
        </div>
    </div>
</div>