<!-- <h1 class="center">Other Stuff I Do!</h1> -->
<!-- <hr> -->
<div class="subpage">
    <a id="take_note_logo" href="https://anchor.fm/bsu-composition-studio" target="_blank">
    </a>
    <p id="take_note_info">
        This was a project included my good friend, Adrian Frye from the Boise State University Composition Studio. Each week we would get on discord and record a podcast about something music related. The first season includes 26 episodes. Season two is coming
        in 2022. Take a listen <u><a href="https://anchor.fm/bsu-composition-studio" target="_blank">here</a></u>! Join our discord <u><a href="https://discord.gg/NUKCsDF" target="_blank">here</a></u>! Below are some of my favorite episodes!
    </p>
    <div id="podcast_container">
        <iframe src="https://anchor.fm/bsu-composition-studio/embed/episodes/Talking-Viola-with-Kate-Nettles-eq33mq" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://anchor.fm/bsu-composition-studio/embed/episodes/Ava-Talks-Cello-em90bc" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://anchor.fm/bsu-composition-studio/embed/episodes/Bear-part-Two-eoibpa" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://anchor.fm/bsu-composition-studio/embed/episodes/Music-Theory-el8ak8" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://anchor.fm/bsu-composition-studio/embed/episodes/Allen-el0bsr" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://anchor.fm/bsu-composition-studio/embed/episodes/Acceptance-ektk2s" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://anchor.fm/bsu-composition-studio/embed/episodes/Sound-Engineering-with-Dr--Ganong-egvs18" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://anchor.fm/bsu-composition-studio/embed/episodes/Talking-Music-with-Berint-Moffett-eia3p1" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
    </div>
</div>