/* index.html */

.desktop #index-profile_pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#index-profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#index-username {
    margin: 20px;
}

#account-dropdown {
    position: absolute;
    display: block;
    background-color: var(--secondLayer-mediumFaded);
    padding: 15px;
    border-radius: 0px 0px 0px 15px;
    height: min-content;
    width: min-content;
    white-space: nowrap;
    right: 0px;
}

.desktop #account-dropdown {
    top: 46px;
}

.mobile #account-dropdown {
    top: 36px;
}


/* Popups */

.new_feature {
    width: 75%;
    margin: 10px auto;
    display: flex;
}

.new_feature .material-icons,
.new_feature .fa {
    font-size: 36px !important;
    padding-right: 20px;
}

.new_feature * {
    height: 100%;
    line-height: 36px;
    vertical-align: middle;
}

#new_features_popup-popup_icon {
    background-color: transparent !important;
}

#dyslexia_button {
    position: absolute;
    left: 20px;
    top: 20px;
    margin: 0px;
    white-space: nowrap;
    color: var(--lightText);
}

.cookie-save {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.cookie-label,
.cookie-label * {
    vertical-align: middle;
    font-size: calc(medium + var(--fontAdd));
    width: min-content;
    white-space: nowrap;
    background-color: var(--main);
    color: var(--lightText) !important;
    padding: 10px;
    line-height: 100%;
}

.cookie-label {
    margin: 20px auto;
}

.cookie-label * {
    background-color: transparent;
}

.cookie-label:hover {
    background-color: var(--dark);
}

.cookie-label.static {
    background-color: var(--main) !important;
    transform: scale(1) !important;
}

.cookie-disclaimer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
    margin: 20px auto;
}

#cookie-bake {
    line-height: 100%;
    vertical-align: middle;
}

.yes_no {
    display: flex;
    justify-content: space-around;
}

#cookie-code {
    width: calc(100% - 30px);
    color: var(--white);
}


/* Header */

header {
    height: min-content;
    margin: 0px;
    position: sticky;
    width: 100%;
    z-index: 10;
    top: -1px;
}

header.collapsed .web_block {
    display: hidden;
}

#logo {
    background-image: url('../pictures/tsaxking_logo.jpg');
    background-size: contain;
}

#fb_link {
    background-image: url('../pictures/facebook-logo.jpg');
    background-size: contain;
}

#taylor_link {
    background-image: url('../pictures/Taylor.jpg');
    background-size: contain;
}

.desktop header {
    background-color: var(--firstLayer);
}

.mobile header {
    background-color: var(--secondLayer);
}


/* Desktop Heading */

.desktop #heading {
    width: 100%;
}

.desktop #heading i.show_nav {
    display: none;
}

.desktop #heading #web_block {
    align-items: center;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: 1fr;
    width: max-content;
}

.desktop #heading .web_block_child {
    margin: 0px 5px;
}

.desktop #heading #logo {
    width: 100px;
    height: 100px;
}

.desktop .index_link {
    overflow: hidden;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    vertical-align: middle;
    margin: 3px !important;
}

.desktop .fa-facebook {
    font-size: 54px !important;
}

.desktop .fa-instagram {
    font-size: 42px !important;
}

.desktop #heading .banner {
    float: right;
    margin: 0px 2px;
}

.desktop #heading #banner_box {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-wrap: nowrap;
}

.desktop #heading .banner_button {
    vertical-align: text-top !important;
}

.banner_button {
    font-size: 40px;
    padding: 3px 0px;
    vertical-align: text-top !important;
    text-decoration: none;
    color: var(--fourthLayer);
}

.banner_button:hover {
    color: var(--main);
}


/* Mobile Heading */

.mobile #heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: min-content;
    width: 100%;
}

.mobile #heading i {
    height: min-content !important;
    margin: auto !important;
    font-size: 30px;
    cursor: pointer;
}

.mobile #web_block {
    align-items: center;
    height: min-content;
    white-space: nowrap;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    grid-template-rows: min-content;
}

.mobile .web_block_child {
    margin: 0px 5px;
}

.mobile #logo {
    height: 50px;
    width: 50px;
}

.mobile .index_link {
    overflow: hidden;
    height: 32px !important;
    width: 32px !important;
    line-height: 32px !important;
    margin: 3px;
}

.mobile .fa-facebook {
    font-size: 36px !important;
}

.mobile .fa-instagram {
    font-size: 26px !important;
}

.mobile #mobile_nav {
    height: 100%;
}

.mobile #heading #banner_box {
    display: block;
    height: 100%;
    right: 0;
    top: 0;
    align-content: center;
    white-space: nowrap;
}

.mobile #heading .banner {
    display: inline-block;
    margin: 0px 2px;
    border-radius: 0px;
}

.mobile #heading #settings_button {
    transition: transform .2s ease-in-out;
}

.mobile #heading .banner_button {
    margin: none;
    vertical-align: middle;
}

.mobile #heading .banner_button.material-icons {
    font-size: 30px;
}

.mobile #heading a.banner {
    background-color: transparent;
}

.mobile #heading a.banner.selected {
    background-color: var(--main) !important;
}

.mobile #heading button.banner.selected p {
    color: var(--lightText) !important;
}


/* Desktop Navigation */

.desktop nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.desktop nav {
    background-color: var(--secondLayer);
}

.desktop nav a {
    text-decoration: none !important;
    background: transparent;
    border-radius: 0px !important;
    flex: 1;
    padding: 10px 0px;
    border: none;
}

.desktop nav .navbutton_container {
    width: calc(100% / var(--numTabs));
    display: inline-block;
    vertical-align: top;
}

.desktop nav .main_nav_button {
    display: block;
    text-align: center;
    width: 100%;
}

.desktop nav .navdrop_button {
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 100%; */
}

.desktop .nav_dropdown {
    background-color: var(--secondLayer-mediumFaded);
}

.desktop nav .navbutton_container>.nav_dropdown {
    display: none;
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.desktop nav .navbutton_container:hover>.nav_dropdown {
    display: block;
    width: calc( 100% / var(--numTabs));
    opacity: 1;
    visibility: visible;
    position: absolute;
    height: auto;
    z-index: 3;
}

.navbutton-text {
    font-size: calc(16px + var(--fontAdd));
    line-height: normal;
    margin: 0px;
    font-weight: 200;
}

.desktop nav .navbutton_container:hover>.nav_dropdown.hold {
    display: none;
    opacity: 0;
}

.desktop nav .navdrop_expand {
    display: none;
    opacity: 0;
}

.desktop nav a {
    color: var(--text) !important;
}

.desktop nav a:hover {
    background-color: var(--thirdLayer);
}

.desktop nav a.selected {
    background-color: var(--main) !important;
}

.desktop nav a.semi-selected {
    background-color: var(--main-faded) !important;
}

.lightmode.desktop.desktop nav a.semi-selected:hover {
    background-color: var(--thirdLayer) !important;
}

.desktop nav a.selected,
.desktop nav a.semi-selected {
    color: var(--lightText) !important;
}


/* Mobile Navigation */

.mobile nav {
    position: fixed;
    top: 50px;
    width: min-content;
    height: 100%;
    background-color: var(--secondLayer-mediumFaded);
    padding-right: 10px;
}

.mobile .navbutton {
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
    background-color: transparent !important;
}

.mobile .navbutton {
    color: var(--text) !important;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    height: 100%;
    line-height: 18px;
    vertical-align: middle;
}

.mobile .nav_expand {
    cursor: pointer;
    align-self: center;
    font-size: 24px;
    padding: 0px 10px;
    line-height: 24px;
    vertical-align: middle;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    transition: transform .2s ease-in-out;
}

.mobile .main_nav_button {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    padding-left: 5px;
}

.mobile .navbutton_container {
    display: grid;
    width: 100%;
    margin-top: 10px;
    grid-template-rows: min-content min-content;
    grid-template-columns: 44px min-content;
}

.mobile .nav_dropdown {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.mobile .navdrop_button {
    padding-left: 20px;
}

.mobile .navbutton.selected {
    color: var(--veryLight) !important;
}

header:hover>#collapse_header {
    visibility: visible;
    transition: visibility .5s ease-in-out;
}

#collapse_header {
    display: block;
    visibility: hidden;
    width: 50px;
    left: calc(50% - 25px);
    font-size: 15px;
    position: absolute;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    transition: visibility .5s ease-in-out 1s;
    z-index: 2;
    background-color: var(--secondLayer);
}

#collapse_header:hover {
    background-color: var(--thirdLayer);
}


/* Footer */

footer p i {
    padding: 0px 50px 0px 50px;
    overflow-y: hidden;
}


/* home.html */


/* Subpage */


/* Desktop Welcome Banner */

.desktop #welcome_banner {
    height: min-content;
}

#welcome_banner .banner_img {
    background-image: url("../pictures/king-music-studio-welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 750px;
    max-height: min-content;
    display: flex;
    flex-direction: row-reverse;
}

#welcome_banner .bio_title,
#welcome_banner .bio_subtitle,
#welcome_banner .bio_text {
    padding: 15px;
}

.desktop #welcome_banner .name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.desktop #welcome_banner .name * {
    margin: 0px 5px;
}

.desktop #welcome_banner #welcome_content {
    width: 50%;
    height: min-content;
    border-radius: 0px 0px 0px 25px;
}


/* Mobile Welcome Banner */

.mobile #welcome_banner {
    height: min-content
}

.mobile #welcome_banner .banner_img {
    background-position-x: 30%;
}

.mobile #welcome_banner .bio_subtitle {
    font-size: calc(large + var(--fontAdd));
}

.mobile #welcome_banner .bio_subtitle {
    font-size: calc(medium + var(--fontAdd));
}

.mobile #welcome_banner .bio_text {
    font-size: calc(small + var(--fontAdd));
}

.mobile #welcome_banner .cd_column {
    width: 75%;
}

.mobile #welcome_banner #welcome_content {
    /* border-radius: 15px 15px 0px 0px; */
    background-color: var();
}

#new_features-banner * {
    white-space: nowrap;
}


/* Updates Banner */

.updates-card {
    padding: 15px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: baseline;
}

.updates-img {
    width: 200px;
    height: 280px;
    background-size: cover;
}

.updates-title {
    width: 100%;
    text-align: center;
}

#composition_recital-update_card {
    background-image: url("../pictures/upcomming/composition_recital.jpg");
}

#conversations-update_card {
    background-image: url("../compositions/CBR_003_picture.jpg");
}

#live_tempo-update_card {
    background-image: url("../pictures/upcomming/live_tempo.jpg");
}

#armada-update_card {
    background-image: url("../pictures/upcomming/armada.png");
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
}


/* What I do Bannner */

#what_I_do #card1 {
    background-image: url("../pictures/sax-vertical.jpg");
    background-position: right;
}

#what_I_do #card2 {
    background-image: url("../pictures/mixer.jpg");
    background-position: right;
}

#what_I_do #card3 {
    background-image: url("../pictures/composition-card.jpg");
    background-position: center;
}


/* Home Slideshow */

#home_slide1 {
    background-image: url('../pictures/20210823_210652.jpg');
}

#home_slide2 {
    background-image: url('../pictures/sax_stache.jpg');
}

#home_slide3 {
    background-image: url('../pictures/20190826_210927.jpg');
}

#home_slide4 {
    background-image: url('../pictures/20210924_222952.jpg');
}

#home_slide5 {
    background-image: url('../pictures/20210831_214016.jpg');
}

#home_slide6 {
    background-image: url('../pictures/Taylor_Mixing.jpg');
}

#home_slide7 {
    background-image: url('../pictures/Taylor_playing_sax.jpg');
}


/* #home_slide8 {
    background-image: url('../pictures/Taylor_playing_sax.jpg');
} */


/* Comming Soon Banner */

#coming_soon.column_display .cd_column {
    flex: 0 1 min-content !important;
    margin: 0px 10px;
}

.desktop #coming_soon .cd_column {
    min-width: 33%;
}

.mobile #coming_soon .cd_column {
    min-width: 100%;
}

#coming_soon .column_title {
    display: block;
    max-width: max-content;
    min-width: min-content;
    margin: auto;
}

#coming_soon p {
    text-align: justify;
}


/* about.html */


/* Contact.html */

.profile-picture {
    background-image: url('../pictures/lily_pic_5.jpg');
    background-position: right;
    background-size: 125%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.contact-profile .profile-picture {
    margin: 20px;
    flex: 0 1 200px;
    height: 200px !important;
    width: 200px !important;
}

.contact-profile .profile-content {
    margin: 20px;
}

.contact-profile .profile-content * {
    width: 100%;
    text-align: center;
}


/* Project.html */

#project-container {
    margin: 20px 0px;
}

.desktop #project-container {
    display: flex;
}

.mobile #project-container {
    display: block;
}

.project-nav {
    display: block;
    background-color: var(--secondLayer);
}

.desktop .project-nav {
    width: 300px !important;
}

.mobile .project-nav {
    width: 100vw;
}

.project-navbutton:nth-child(1n) {
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: var(--firstLayer);
    border-style: solid;
}

.project-navbutton:last-child {
    border: none;
}

.project-navbutton {
    height: min-content;
    padding: 5px;
    background-color: transparent;
    width: 100%;
    text-decoration: none;
    word-break: keep-all;
    white-space: normal;
}

.project-navbutton:hover {
    background-color: var(--light);
}

.project-navbutton.selected {
    background-color: var(--dark);
    color: var(--lightText);
}

#project-display {
    background-color: var(--thirdLayer);
}

.desktop #project-display {
    width: calc(100vw - 300px);
}

.mobile #project-display {
    width: 100vw;
}

.project-description {
    display: block;
    width: 75vw;
    padding: 15px 30px;
}

.project-title {
    margin: auto;
    display: block;
    width: min-content;
    white-space: nowrap;
    padding: 15px 0px;
}

.project-video {
    width: 100%;
    aspect-ratio: 560/315;
}


/* Design Slideshow */

#design_slide1 {
    background-image: url("../pictures/projects/desk/sketch.jpg");
}

#design_slide2 {
    background-image: url('../pictures/projects/desk/components.jpg');
}

#design_slide3 {
    background-image: url('../pictures/projects/desk/layout.jpg');
}

#design_slide4 {
    background-image: url('../pictures/projects/desk/Steel_desk.jpg');
}

#design_slide5 {
    background-image: url('../pictures/projects/desk/desk_with_components.jpg');
}

#design_slide6 {
    background-image: url('../pictures/projects/desk/wood_desk.jpg');
}


/* Build Slideshow */

#build_slide1 {
    background-image: url("../pictures/projects/desk/first_weld.jpg");
}

#build_slide2 {
    background-image: url('../pictures/projects/desk/keyboard_frame.jpg');
}

#build_slide3 {
    background-image: url('../pictures/projects/desk/legs.jpg');
}

#build_slide4 {
    background-image: url('../pictures/projects/desk/small_frame.jpg');
}

#build_slide5 {
    background-image: url('../pictures/projects/desk/dirty_hands.jpg');
}

#build_slide6 {
    background-image: url('../pictures/projects/desk/assembled_frame.jpg');
}

#build_slide7 {
    background-image: url('../pictures/projects/desk/wood_with_bear.jpg');
}

#build_slide8 {
    background-image: url('../pictures/projects/desk/painted_and_cut_wood.jpg');
}

#build_slide9 {
    background-image: url('../pictures/projects/desk/edge.jpg');
}

#build_slide10 {
    background-image: url('../pictures/projects/desk/upside_down.jpg');
}

#build_slide11 {
    background-image: url('../pictures/projects/desk/stain.jpg');
}

#build_slide12 {
    background-image: url('../pictures/projects/desk/first_layer_stained.jpg');
}

#build_slide13 {
    background-image: url('../pictures/projects/desk/into_room.jpg');
}

#build_slide14 {
    background-image: url('../pictures/projects/desk/prep_components.jpg');
}

#build_slide15 {
    background-image: url('../pictures/projects/desk/done.jpg');
}


/* Acceptance project */

#acceptance_slide1 {
    background-image: url("../pictures/projects/acceptance/full_score.jpg");
}

#acceptance_slide2 {
    background-image: url('../pictures/projects/acceptance/first_day.jpg');
}

#acceptance_slide3 {
    background-image: url('../pictures/projects/acceptance/day_2.jpg');
}


/* Acceptance project */

#website_slide1 {
    background-image: url("../pictures/projects/website/visual_studio_code.jpg");
}

#website_slide2 {
    background-image: url('../pictures/projects/website/website1.jpg');
}

#website_slide3 {
    background-image: url('../pictures/projects/website/website2.jpg');
}

#website_slide4 {
    background-image: url('../pictures/projects/website/website3.jpg');
}

#website_slide5 {
    background-image: url('../pictures/projects/website/website4.jpg');
}

#website_slide6 {
    background-image: url('../pictures/projects/website/website5.jpg');
}


/* Portfolio.html */

#portfolio #card1 {
    background-image: url("../pictures/composition-card2.jpg");
    background-position: center;
}

#portfolio #card2 {
    background-image: url("../pictures/projects/website/visual_studio_code.jpg");
    background-position: left;
}

#portfolio #card3 {
    background-image: url("../pictures/R144.jpg");
    background-position: bottom;
}


/* composition.html */


/* Composition_front */

#composition_front #card1 {
    background-image: url("../pictures/composition-card.jpg");
    background-position: center;
}

#composition_front #card2 {
    background-image: url("../pictures/composition-card2.jpg");
    background-position: right;
}

#composition_front #card3 {
    background-image: url("../pictures/composition-card3.jpg");
    background-position: bottom;
}


/* lessons.html */

#lessons_info {
    max-width: 40vw;
    min-width: 350px;
}


/* composition/commissions.html */

#composition_commission .column_display {
    background-image: url('../pictures/compostition-banner.jpg');
}


/* composition/display.html */

.desktop #composition_description {
    flex: 1;
    padding: 20px;
    width: 500px;
    text-align: justify;
}

.desktop #composition_audio {
    box-shadow: var(--boxshadow);
    flex: 1;
    display: block;
    position: fixed;
    bottom: 20px;
    z-index: 12;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 0px auto;
}

.desktop #composition_video {
    box-shadow: var(--boxshadow);
}

.mobile #composition_pdf {
    width: 90vw;
    margin: auto;
    height: 60vh;
}

.mobile #composition_audio {
    box-shadow: var(--boxshadow);
    flex: 1;
    display: block;
    position: fixed;
    bottom: 20px;
    z-index: 3;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 0px auto;
}

.mobile #composition_description {
    width: 90vw;
}


/* .only_mobile #open_full_pdf,
.only_mobile #composition_pdf {
    display: none;
} */


/* Disclaimer */

#copyright_disclaimer_popup .popup_title {
    color: red !important;
}

#copyright_disclaimer_popup #icon_warning {
    color: red !important;
}

#copyright_disclaimer_popup .popup_paragraph {
    color: var(--lightText);
    text-align: justify;
}

.desktop .popup_paragraph {
    width: 40vw;
    display: block;
    margin: auto;
    font-size: calc(large + var(--fontAdd));
}

.mobile .popup_paragraph {
    display: block;
    width: 90vw;
    margin: auto;
    font-size: calc(medium + var(--fontAdd));
}

#copyright_disclaimer_popup #close_icon {
    color: var(--lightText);
}


/* Mobile Disclaimer */

#mobile_display_popup .popup_title {
    color: red !important;
}

#mobile_display_popup #icon_warning {
    color: red !important;
}

#mobile_display_popup .popup_paragraph {
    color: var(--lightText);
    text-align: justify;
}

.desktop .popup_paragraph {
    width: 40vw;
    display: block;
    margin: auto;
    font-size: calc(large + var(--fontAdd));
}

.mobile .popup_paragraph {
    display: block;
    width: 90vw;
    margin: auto;
    font-size: calc(medium + var(--fontAdd));
}

#mobile_display_popup #close_icon {
    color: var(--lightText);
}


/* Full Screen Pdf */

.fullscreen-pdf-container {
    top: 0 !important;
    left: 0 !important;
    z-index: 11 !important;
    position: fixed !important;
    width: 100vw !important;
    background-color: var(--black-littleFaded) !important;
    display: grid !important;
    grid-template-columns: 5vw 90vw 5vw !important;
    grid-template-rows: 100vh !important;
}

.fullscreen-pdf {
    height: calc(100vh - 90px) !important;
    grid-column: 2 / span 1 !important;
    width: 100% !important;
}

.mobile .open-fullscreen_pdf {
    display: none;
}

.close-fullscreen_pdf {
    font-size: calc(5vw - 12px);
    color: var(--white)
}

.open-fullscreen_pdf {
    font-size: 30px;
    height: min-content;
}


/* Composition Info */

#composition_info.centering_box_container .centering_box {
    display: block;
}

.desktop #composition_pdf_container {
    display: grid !important;
    width: 535px;
    grid-template-columns: 500px 30px;
    grid-template-rows: 1fr;
}

.desktop #composition_pdf {
    box-shadow: var(--boxshadow);
    flex: 1;
    height: 700px;
    width: 100%;
    border: none;
    grid-column: 1 / span 1;
}

.desktop #open_full_pdf {
    font-size: 30px;
    grid-column: 2 / span 1;
    padding: 0px 0px 0px 5px;
}


/* composition/my-compositions.html */

#my_compositions .card_title {
    margin: 15px auto;
    width: 255px;
    text-align: center;
    white-space: normal;
}

#my_compositions .assortment.horizontal .card_container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    height: min-content;
    display: flex;
    flex-wrap: nowrap;
}

#my_compositions .assortment.horizontal .assortment_title {
    margin: 15px 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#my_compositions .assortment.horizontal .card_container .card {
    vertical-align: top;
    margin: 0px 10px;
    display: inline-block;
    width: min-content;
    border: none;
    box-shadow: none;
    position: relative;
    height: min-content;
}

#my_compositions .assortment.horizontal .card_container .card:first-child {
    margin-left: auto;
    padding-left: 15px;
}

#my_compositions .assortment.horizontal .card_container .card:last-child {
    margin-right: auto;
    padding-right: 15px;
}

#my_compositions .card_img {
    width: 255px;
    height: 330px;
    box-shadow: var(--boxshadow);
    z-index: -1;
}

#my_compositions .composer_hover {
    z-index: 1;
    color: var(--lightText);
    position: absolute;
    top: 0;
    right: 0;
}

#my_compositions .card>.composer_hover {
    opacity: 0;
    visibility: collapse;
    transition: opacity 0.25s ease-in-out, visiblity 0.25s ease-in-out;
}

#my_compositions .card:hover>.composer_hover {
    background-color: var(--black-mediumFaded);
    padding: 5px;
    opacity: 1;
    visibility: visible;
}

#my_compositions .card_transparent_cover {
    display: block;
    z-index: 2;
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 100%;
}

#my_compositions .assortment_container {
    width: 100%;
    height: min-content;
}


/* Desktop Profile */

#taylor_subpage #profile_pic {
    background-image: url("../pictures/Taylor.jpg");
    background-size: cover;
    margin: 5px auto;
    box-shadow: var(--boxshadow);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.desktop #taylor_subpage .profile_block {
    width: 20vw;
    z-index: 3;
}

#taylor_subpage .profile_block {
    position: fixed;
    padding: 15px;
}

#taylor_subpage .profile_title {
    width: 100%;
    text-align: center;
}

#taylor_subpage .desktop .profile_pic {
    height: 10vw;
    width: 10vw;
}

#taylor_subpage #to_composition {
    width: 100%;
    white-space: normal;
    margin: auto;
    text-decoration: none;
    display: block;
    box-shadow: var(--boxshadow);
    padding: 5px;
    text-align: center;
}

#taylor_subpage .socials {
    display: flex;
    justify-content: center;
    width: 100%;
}

#taylor_subpage .social_button {
    margin: 5px;
    border-radius: 50%;
}

.desktop #taylor_subpage .social_button {
    width: 3vw;
    height: 3vw;
}


/* Mobile Profile */

.mobile #taylor_subpage .profile_block {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: min-content min-content;
    width: min-content;
    height: min-content;
}

.mobile #taylor_subpage .social_button {
    width: 50px;
    height: 50px;
}

.mobile #taylor_subpage .email {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.mobile #taylor_subpage .phone_number {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.mobile #taylor_subpage .socials {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.mobile #taylor_subpage #to_composition {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}


/* Profile Content */

#taylor_subpage .profile_content {
    width: min-content;
    position: absolute;
    left: calc(50% + 25px);
    top: 20px;
    padding: 15px;
    border-radius: 5px;
}


/* More Info */

.desktop #taylor_more_info {
    width: 50vw;
}


/* Taylor Slideshow */

#taylor_slide1 {
    background-image: url('../pictures/lily_pic_1.jpg');
}

#taylor_slide2 {
    background-image: url('../pictures/lily_pic_4.jpg');
}

#taylor_slide3 {
    background-image: url('../pictures/sax_stache.jpg');
}

#taylor_slide4 {
    background-image: url('../pictures/Armada Winds.jpg');
}

#taylor_slide5 {
    background-image: url('../pictures/armada13.jpg');
}

#taylor_slide6 {
    background-image: url('../pictures/Armada44.jpg');
}

#taylor_slide7 {
    background-image: url('../pictures/BTMB_pic_1.jpg');
}

#taylor_slide8 {
    background-image: url('../pictures/BTMB_pic_2.jpg');
}

#taylor_slide9 {
    background-image: url('../pictures/Joe_Bill.jpg');
}


/* lessons/composition.html */

#comp_lessons .column_display {
    background-image: url('../pictures/compostition-banner.jpg');
}


/* lessons/saxophone.html */

#sax_lessons .column_display {
    background-image: url('../pictures/sax-closeup.jpg');
}


/* other/score-editing.html

#score-editing .column_display {
    background-image: url('../pictures/pexels-ylanite-koppens-934067.jpg');
} */


/* other/take-note.html */


/* #take_note_logo {
    background-image: url('../pictures/Take_Note_Logo.jpg');
    background-size: cover;
    display: block;
    border-radius: 50%;
    box-shadow: var(--boxShadow);
    width: 30vw;
    margin: 15px auto;
    aspect-ratio: 1.5/1;
}

#take_note_info {
    width: 50%;
    margin: 15px auto;
    display: block;
}

#podcast_container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.mobile #take_note_info {
    width: 75% !important;
} */


/* recording-studio/mixing.html */

#mixing .column_display {
    background-image: url('../pictures/mixer.jpg');
}


/* recording-studio/mockups.html */

#mockups .column_display {
    background-image: url('../pictures/daw.jpg');
}


/* recording-studio/recording.html */

#house_recording .column_display {
    background-image: url('../pictures/recording.jpg');
    background-position-y: 20%;
}

#venue_recording .column_display {
    background-image: url('../pictures/b125-recording.jpg');
    background-position-x: left;
    background-position-y: 80%;
}


/* Thank you */

.gif_container {
    display: flex;
    justify-content: center;
}

#thank_you_gif {
    width: 480px;
    height: 400px;
    margin: auto;
}


/* Sign in/up/create-account */

.temp_pic_display {
    display: block;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    box-shadow: var(--boxshadow);
    margin: 15px auto;
    position: relative;
}

.temp_pic_display p {
    position: absolute;
    top: 30%;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.desktop #account-features .centering_box {
    width: 40vw;
}

.mobile #account-features .centering_box {
    width: 80vw;
}

#about-bio {
    padding: 0vw 10vw;
}