<div class="subpage">
    <div class="popup short skinny hidden animate__animated" id="sign_out-popup">
        <div class="popup-content animate__animated animate__backInRight animate__faster">
            <button class="popup-close_button material-icons close-popup" data-popup="sign_out">clear</button>
            <h3 class="popup-title">Are you sure?</h3>
            <div class="yes_no">
                <button class="yes_button pointer hover_grow" id="i-am-sure">Yes</button>
                <button class="no_button pointer hover_grow close-popup" data-popup="sign_out-popup" id="bake_cookie-no">No</button>
            </div>
        </div>
    </div>
    <h1 class="center"><span class="note">Error:</span> You have already signed in. Do you want to
        <a class="open-popup link" data-popup="sign_out" id="sign-out">sign out</a> or go to <a class="link" id="to-my-account">your account</a>?
    </h1>
</div>