<div class="subpage">
    <h1 class="center page-title">Lesson Logs</h1>
    <div class="popup hidden animate__animated" id="view_log-popup">
        <div class="popup-content animate__animated animate__backInRight animate__faster">
            <button class="popup-close_button material-icons close-popup" data-popup="view_log">clear</button>
            <h3 class="popup-title">View Log: <span id="log-id"></span></h3>
            <h5 class="popup-title" id="log-date"></h5>
            <p class="popup-text" id="log-content"></p>
        </div>
    </div>
    <h1 class="center  padding-tb-10">Your Lesson Logs:</h1>
    <table class="half-width">
        <tbody>
            <tr>
                <th>
                    <h5>ID</h5>
                </th>
                <th>
                    <h5>Date</h5>
                </th>
                <th>
                    <h5>Content</h5>
                </th>
            </tr>
            <repeat id="lesson_logs">
                <tr class="pointer open-popup populate-log" data-popup="view_log" data-log='@LOG_JSON@' id="log-@ID@">
                    <td>
                        <p>@ID@</p>
                    </td>
                    <td>
                        <p>@DATE@</p>
                    </td>
                    <td>
                        <p>@CONTENT@</p>
                    </td>
                </tr>
            </repeat>
        </tbody>
    </table>
</div>