<div class="subpage">
    <h1 class="center page-title">Hello, @FULL_NAME@</h1>
    <h3 class="center">My Account: @USERNAME@</h3>
    <p class="center">In the future, there will be more features for accounts as I build them. Click <a href="/account/lesson-logs" data-link="nav" class="link">here</a> to view your lesson logs.</p>
    <div class="centering_box_container" id="account-features">
        <div class="centering_box animate__delay-block">
            <h2 class="center">What I plan on for the future:</h2>
            <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                <i class="material-icons">account_circle</i>
                <h4 class="feature_title">Profile picture and account information: this costs money to have upload storage space, so this isn't available right now as it's not really worth it.</h4>
            </div>
            <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                <i class="material-icons">paid</i>
                <h4 class="feature_title">Transactions: how much you owe, when payments are due, etc.</h4>
            </div>
            <div class="new_feature animate__animated animate__delay-var animate__bounceInLeft">
                <i class="material-icons">picture_as_pdf</i>
                <h4 class="feature_title">File uploads: This would go into cloud storage, which costs money. For now this will be done over email, but I plan to change this in the future.</h4>
            </div>
        </div>
    </div>
</div>