<div class="subpage">
    <h4 class="center page-title">Already have an account? <a href="/account/sign-in" data-link="nav" class="link">Sign In</a>!</h4>
    <h1 class="center page-title">Sign Up</h1>
    <form action="sign-up" class="center" action="/account/sign-up" method="post">
        <label for="first_name"><h6>First Name</h6></label><input placeholder="John*" type="text" name="first_name" required>
        <label for="last_name"><h6>Last Name</h6></label><input placeholder="Doe*" type="text" name="last_name" required>
        <label for="email"><h6>Username</h6></label><input placeholder="Username*" type="text" name="username" required>
        <label for="email"><h6>Email</h6></label><input placeholder="johndoe@domain.com*" type="text" name="email" required>
        <label for="phone_number"><h6>Phone Number</h6></label><input placeholder="(012) 345-6789*" type="text" name="phone_number" required>
        <label for="password"><h6>Password</h6></label><input placeholder="***********" type="password" name="password" id="create_password" required>
        <p id="password_strength"></p>
        <label for="password_confirm"><h6>Confirm Password</h6></label><input placeholder="***********" type="password" name="password_confirm" required>
        <input type="submit" class="pointer">
    </form>
</div>