<div class="subpage">
    <div class="popup skinny hidden animate__animated" id="transaction_display-popup">
        <div class="popup-content animate__animated animate__backInRight animate__faster">
            <button class="popup-close_button material-icons close-popup" data-popup="transaction_display">clear</button>
            <h3 class="popup-title">Transaction Information</h3>
            <hr>
            <h5 class="popup-title"><span id="transaction-ie"></span>: <span id="transaction-id"></span></h5>
            <p class="popup-text">Amount: <span id="transaction-amount"></span></p>
            <p class="popup-text" id="transaction-amount"></p>
            <h5 class="popup-title">info</h5>
            <p class="popup-text transaction-type"></p>
            <p class="popup-text" id="transaction-subtype"></p>
            <p class="popup-text note" id="transaction-tax"></p>
            <p class="popup-text" id="transaction-payment_type"></p>
            <p class="popup-text" id="transaction-comments"></p>
        </div>
        <form action="/admin/delete-transaction">
            <label for="confirm ">Confirm delete by typing transaction ID<input type="text" name="confirm"></label>
            <input type="submit" value="submit">
        </form>
    </div>
    <div class="popup skinny animate__animated hidden" id="new_transaction-popup">
        <div class="popup-content animate__animated animate__backInRight animate__faster">
            <button class="popup-close_button material-icons close-popup" data-popup="new_transaction">clear</button>
            <h3 class="popup-title">New Transaction</h3>
            <hr>
            <form action="/admin/new-transaction" method="post" class="center my-form">
                <label for="income" class="label-check_radio"><h4>Income</h4><input type="radio" name="ie" value="income" class="open-form_sect"></label>
                <label for="expense" class="label-check_radio"><h4>Expense</h4><input type="radio" name="ie" value="expense" class="open-form_sect"></label>
                <div class="form_sect hidden" id="income-form_section">
                    <label><h4>Select Income Type</h4><input type="text" data-form_sect="income" class="open-form_subsect" list="income-datalist"></label>
                    <datalist id="income-datalist">
                    <repeat id="incomeTypeSelection">
                        <option value="@TYPE-ENC@">@TYPE@</option>
                    </repeat>
                    </datalist>
                </div>
                <repeat id="incomeTypeSelection">
                    <div id="income_@TYPE@-form_subsect" class="form_subsect hidden">
                        <label><h4>Select @TYPE@ Subtype</h4><input type="text" list="income_@TYPE@"></label>
                        <datalist name="subtype" id="income_@TYPE@">
                            <repeat id="income_@TYPE@">
                                <option value="@SUBTYPE-ENC@">@SUBTYPE@</option>
                            </repeat>
                        </datalist>
                    </div>
                </repeat>
                <div class="form_sect hidden" id="expense-form_section">
                    <label><h4>Select Expense Type</h4><input type="text" data-form_sect="expense" class="open-form_subsect" list="expense-datalist"></label>
                    <datalist id="expense-datalist">
                        <repeat id="expenseTypeSelection">
                            <option value="@TYPE-ENC@">@TYPE@</option>
                        </repeat>
                    </datalist>
                </div>
                <repeat id="expenseTypeSelection">
                    <div id="expense_@TYPE@-form_subsect" class="form_subsect hidden">
                        <label><h4>Select @TYPE@ Subtype</h4><input type="text" list="expense_@TYPE@"></label>
                        <datalist name="subtype" id="expense_@TYPE@">
                            <repeat id="expense_@TYPE@">
                                <option value="@SUBTYPE-ENC@">@SUBTYPE@</option>
                            </repeat>
                        </datalist>
                    </div>
                </repeat>
                <label for="number"><h4>Amount (no $)</h4><input type="text" name="amount"></label>
                <label for="comment"><h4>Comment</h4><textarea type="text" name="comment"></textarea></label>
                <input type="file" name="picture" id="transaction-picture">
                <img src="" id="create-transaction_temp_display" class="temp_pic_display">
                <p id="no-file">No File Chosen</p>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>
    <h1 class="center page-title">Budget</h1>
    <h3 class="center">Current Balance: $@BALANCE@</h3>
    <div class="column_display">
        <div class="cd_column">
            <h5 class="center">Income:</h5>
            <h5 class="center">Balance: $@INCOME@</h5>
            <canvas id="income"></canvas>
        </div>
        <div class="cd_column">
            <h5 class="center">Expenses:</h5>
            <h5 class="center">Balance: $@EXPENSES@</h5>
            <canvas id="expenses"></canvas>
        </div>
    </div>
    <h3 class="pointer open-popup button" data-popup="new_transaction">New Transaction</h3>
    <h3 class="center">All Transactions</h3>
    <div class="column_display">
        <div class="cd_column">
            <h5 class="center">Income</h5>
            <table>
                <tbody>
                    <tr>
                        <th>
                            <h5>ID</h5>
                        </th>
                        <th>
                            <h5>Amount</h5>
                        </th>
                        <th>
                            <h5>Type</h5>
                        </th>
                        <th>
                            <h5>Subtype</h5>
                        </th>
                        <th>
                            <h5>Payment Type</h5>
                        </th>
                        <th>
                            <h5>Comments</h5>
                        </th>
                    </tr>
                    <repeat id="incomeRows">
                        <tr class="open-popup pointer" data-popup="transaction_display" data-transaction='{"ie":"Income","id":"@INCOME-ID@","amount":"@INCOME-AMOUNT@","type":"@INCOME-TYPE@","subtype":"@INCOME-SUBTYPE","comments":"@INCOME-COMMENTS@","payment_type","@INCOME-PAYMENT_TYPE@","picture":"@INCOME-PICTURE_SRC@","tax":""}'
                            id="transaction-@ID@">
                            <td>
                                <p>@INCOME-ID@</p>
                            </td>
                            <td>
                                <p>@INCOME-AMOUNT@</p>
                            </td>
                            <td>
                                <p>@INCOME-TYPE@</p>
                            </td>
                            <td>
                                <p>@INCOME-SUBTYPE@</p>
                            </td>
                            <td>
                                <p>@INCOME-PAYMENT_TYPE@</p>
                            </td>
                            <td>
                                <p>@INCOME-COMMENTS@</p>
                            </td>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
        <div class="cd_column">
            <h5 class="center">Expenses</h5>
            <table>
                <tbody>
                    <tr>
                        <th>
                            <h5>ID</h5>
                        </th>
                        <th>
                            <h5>Amount</h5>
                        </th>
                        <th>
                            <h5>Type</h5>
                        </th>
                        <th>
                            <h5>Subtype</h5>
                        </th>
                        <th>
                            <h5>Payment Type</h5>
                        </th>
                        <th>
                            <h5>Comments</h5>
                        </th>
                        <th>
                            <h5>Tax Deductible</h5>
                        </th>
                    </tr>
                    <repeat id="expenseRows">
                        <tr class="open-popup pointer" data-popup="transaction_display" data-transaction='{"ie":"Expense","id":"@EXPENSE-ID@","amount":"@EXPENSE-AMOUNT@","type":"@EXPENSE-TYPE@","subtype":"@EXPENSE-SUBTYPE","comments":"@EXPENSE-COMMENTS@","payment_type":"@EXPENSE-PAYMENT_TYPE@","picture":"EXPENSE-PICTURE_SRC","tax":"@EXPENSE-TAX@"}'
                            id="transaction-@ID@">
                            <td>
                                <p>@EXPENSE-ID@</p>
                            </td>
                            <td>
                                <p>@EXPENSE-AMOUNT@</p>
                            </td>
                            <td>
                                <p>@EXPENSE-TYPE@</p>
                            </td>
                            <td>
                                <p>@EXPENSE-SUBTYPE@</p>
                            </td>
                            <td>
                                <p>@EXPENSE-PAYMENT_TYPE@</p>
                            </td>
                            <td>
                                <p>@EXPENSE-COMMENTS@</p>
                            </td>
                            <td>
                                <p>@EXPENSE-TAX@</p>
                            </td>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
    </div>
</div>