<div class="row mb-3 d-flex justify-content-center">
    <div class="col-md-6">
        <img src="../static/pictures/personal/2022-photoshoot/20221016-IMG_4057.jpg" alt="" class="card-img rounded">
        <!-- <div class="card bg-secondary"> -->
            <!-- <div class="card-header"> -->
                <!-- <div class="card-title"> -->
                <!-- </div> -->
            <!-- </div> -->
            
            <!-- <div class="card-body"> -->
            <!-- </div> -->
        </div>
        <div class="col-md-6">
            <h5 class="text-light">
                Phone Number
            </h5>
            <p class="text-light">
                (208) 392-8139 (call/text)*
            </p>

            <h5 class="text-light">
                Email
            </h5>
            <a href="mailto: taylor.reese.king@gmail.com" class="link-primary">taylor.reese.king@gmail.com</a>
            <br>
            <small class="text-light">
                *Please leave a voicemail if I don't answer. I get a lot of spam calls and generally don't answer numbers I don't recognize.
            </small>

        </div>
    </div>
</div>
<!-- <div class="row mb-3 d-flex justify-content-center">
    <div class="col-md-8">
        <h3 class="text-center text-light">
            Or send me a message directly on here
        </h3>
        <form action="/send-message" method="post">
            <div class="form-group">
                <label for="name" class="text-light">Name</label>
                <input type="text" class="form-control w-50" id="name" name="name" placeholder="Enter your name" required aria-required="true">
            </div>
            <div class="form-group">
                <label for="email" class="text-light">Email</label>
                <input type="email" class="form-control w-50" id="email" name="email" placeholder="Enter your email" required aria-required="true">
            </div>
            <div class="form-group">
                <label for="message" class="text-light">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" aria-required="true"></textarea>
            </div>
            <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
    </div>
</div> -->