<div class="subpage">
    <h1 class="center page-title">COVID-19 Policies</h1>
    <p class="center subpage_description">COVID-19 is a very serious issue and needs to be dealt with accordingly. My policies are pretty simple but depend on the client.</p>
    <hr>
    <div class="center desktop_half mobile_three-fourths">
        <h4 class="note center"><strong>If anyone in your immediate family is not feeling well or has recently tested positive for COVID-19, please do not attend</strong></h4>
        <p>This would classify as an "Emergency Situation," so no makeup lesson will be necessary and the lesson will be refunded. Please do not abuse this policy by not showing up and falsly saying that someone is sick. Integrity goes a long way, I trust
            you.
        </p>
        <br><br>
        <h4 class="center"><strong>In Person Lessons</strong></h4>
        <p> Every student, regardless of vaccination status MUST wear a mask that covers their nose and mouth. In addition, they must have a bell cover and a playing mask (a mask with a small slit for the mouthpiece that covers the nose and produces a reasonable
            seal around the mouthpiece)
            <br><br> For 30 minutes before and after the lesson, I will have an air filter running to protect everyone.
            <br><br>Before my student's arrival, I will disinfect every surface the student may come into contact with.
            <br><br> If the student or legal guardian (if attending lessons) is unvaccinated or is uncomfortable with sharing their vaccination status, I will put up a clear shower curtain that divides the studio into two parts. This is to protect both
            myself and the participant</p>
        <br><br>
        <h4 class="center"><strong>Recording Studio</strong></h4>
        <p>All participants MUST be vaccinated.
            <br><br> I will wear a mask and everyone must wear a mask unless we are actively recording.
            <br><br> I highly recommend recording multitrack and not simultaneously to protect everyone involved.</p>
        <br><br>
    </div>
</div>