<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sfzMusic: Error {code}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- Tempus Dominus Styles -->
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Dropzone -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/6.0.0-beta.2/dropzone.min.css" integrity="sha512-qkeymXyips4Xo5rbFhX+IDuWMDEmSn7Qo7KpPMmZ1BmuIA95IPVYsVZNn8n4NH/N30EY7PUZS3gTeTPoAGo1mA==" crossorigin="anonymous" referrerpolicy="no-referrer" -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/6.0.0-beta.2/basic.min.css" integrity="sha512-MeagJSJBgWB9n+Sggsr/vKMRFJWs+OUphiDV7TJiYu+TNQD9RtVJaPDYP8hA/PAjwRnkdvU+NsTncYTKlltgiw==" crossorigin="anonymous" referrerpolicy="no-referrer" -->


    <cstr cstr-type="repeat" id="styles">
        <link rel="stylesheet" href="{style}">
    </cstr>
</head>

<body class="bg-dark text-light">
    <cstr cstr-type="repeat" id="topScripts">
        <script src="{script}"></script>
    </cstr>

    <div class="container">
        <div class="row mb-1">
            <h1 class="text-center text-capitalize">{serverCode}: {name}</h1>
            <pre class="bg-secondary text-lime p-2 w-100 rounded">{description}</pre>
        </div>

        <div class="row mb-1">
            <!-- Instructions -->
            <div class="col-12">
                <h2 class="text-center">Instructions</h2>
                <p>{instructions}</p>
            </div>
        </div>

        <div class="row mb-1">
            <h2 class="text-center">Actions</h2>
        </div>

        <div class="row mb-1">
            <div class="col-6">
                <button class="btn btn-primary cursor-pointer">Go Back</button>
                <script>
                    document.querySelector('.btn-primary').addEventListener('click', () => {
                        window.history.back();
                    });
                </script>
            </div>
            <div class="col-6">
                <a href="{linkUrl}" class="btn btn-primary">{linkText}</a>
            </div>
        </div>
    </div>


    <cstr cstr-type="repeat" id="bottomScripts">
        <script src="{script}"></script>
    </cstr>
</body>