<div class="row align-items-md-stretch mb-3">
    <div class="col">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div id="home-carousel" class="carousel carousel-dark slide d-flex" data-bs-ride="carousel" style="height: 500px !important;">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner align-self-center align-items-center d-flex h-100">
                            <div class="carousel-item shadow rounded active">
                                <img src="../static/pictures/personal/2022-photoshoot/20221016-IMG_4144.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item shadow rounded">
                                <img src="../static/pictures/personal/2020-photoshoot/Taylor.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item shadow rounded">
                                <img src="../static/pictures/personal/2022-photoshoot/Edit 2 (5 of 12).jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item shadow rounded">
                                <img src="../static/pictures/personal/2022-photoshoot/20221016-IMG_4296.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item shadow rounded">
                                <img src="../static/pictures/personal/senior-recital/conducting-conversations.jpeg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item shadow rounded">
                                <img src="../static/pictures/personal/cwu-visit/conducting-conversations.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center text-light">
                    <ul class="list-unstyled">
                        <li class="mb-4">
                            <h2>Musician</h2>
                        </li>
                        <li class="mb-4">
                            <h2>Sound Engineer</h2>
                        </li>
                        <li class="mb-4">
                            <h2>Educator</h2>
                        </li>
                        <li class="mb-4">
                            <h2>Web Developer</h2>
                        </li>
                        <li class="mb-2">
                            <a href="/services/lessons">Thinking about private lessons?</a>
                        </li>
                        <li class="mb-2">
                            <a href="/about/portfolio">View my Portfolio</a>
                        </li>
                        <li class="mb-2">
                            <a href="/compositions">View my compositions</a>
                        </li>
                        <li class="mb-2">
                            <a href="/contact-me">Contact me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="bg-light">

<div class="row mb-3">
    <h2 class="text-center text-light">
        Recent Events
    </h2>
</div>

<div class="row mb-3">
    <div class="col-md-6 col-sm-12 mb-3">
        <div class="card bg-orange rounded shadow h-100">
            <div class="card-header">
                <div class="card-title">
                    <h5 class="text-navy">
                        11/12/2022 Senior Recital
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <iframe src="https://www.youtube.com/embed/huO08f16VV4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="w-100 aspect-ratio-2x1 rounded"></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 mb-3">
        <div class="card bg-danger rounded shadow h-100">
            <div class="card-header">
                <div class="card-title">
                    <h5>
                        3/5/2022 Central Washington University Saxophone Concert
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <iframe src="https://www.youtube.com/embed/XYKLPyVjl-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="w-100 aspect-ratio-2x1 rounded"></iframe>
            </div>
        </div>
    </div>
</div>
<hr class="bg-light">

<div class="row mb-3">
    <h2 class="text-center text-light">
        Resources
    </h2>
</div>

<div class="row mb-3 d-flex justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card bg-success rounded shadow h-100">
            <div class="card-header">
                <div class="card-title">
                    <h5>
                        Join the Treasure Valley Saxophone Minecraft Server!
                    </h5>
                </div>
            </div>
            <img src="../static/pictures/other/minecraft-saxophone.jpg" class="card-img rounded shadow cursor-pointer" onclick="window.open(`https://discord.gg/WyMQqzApcu`)">
            <div class="card-body">
                <p class="card-text">
                    Join the Treasure Valley Saxophone Minecraft Server! This custom server is currently online 24/7 and is a great place to hang out with other saxophonists and musicians. The server is currently running on Minecraft 1.19.3 unmodded. If you have ideas for
                    fun events, let me know!
                </p>
            </div>
            <div class="card-footer">
                <a href="https://discord.gg/WyMQqzApcu" target="_blank" class="btn btn-dark">Join Here!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card bg-secondary rounded shadow h-100">
            <div class="card-header">
                <div class="card-title">
                    <h5>
                        Thinking about private lessons?
                    </h5>
                </div>
            </div>
            <img src="../static/pictures/structure/saxophone-holding.jpg" alt="" class="card-img rounded shadow">
            <div class="card-body">
                <p class="card-text">
                    I am currently accepting new students for <a href="/services/lessons" class="link-light"> saxophone and composition lessons!</a> Please <a href="/contact-me" class="link-light">contact me</a> if you are interested!
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card bg-primary rounded shadow h-100">
            <div class="card-header">
                <div class="card-title">
                    <h5>
                        sfzMusic
                    </h5>
                </div>
            </div>
            <img src="../static/pictures/other/sfzmusic-logo.png" alt="" class="card-img rounded shadow">
            <div class="card-body">
                sfzMusic is a new company I am building designed towards music educators in order to help them with their administrative tasks. If you are a music educator and are interested, please
                <a href="/contact-me" class="link-light">contact me!</a>
            </div>
            <div class="card-footer">
                <a href="https://sfzmusic.com" target="_blank" class="btn btn-dark">Learn More</a>
            </div>
        </div>
    </div>
</div>

<hr class="bg-light">

<div class="row mb-3">
    <h2 class="text-center text-light">
        Upcoming Events
    </h2>
</div>

<div class="row mb-3">
    <div class="col">
        <div class='sk-ww-google-calendar p-2' data-embed-id='120215'></div>
        <script src='https://widgets.sociablekit.com/google-calendar/widget.js' async defer></script>
    </div>
</div>

<hr class="bg-light">

<div class="row mb-3">
    <h2 class="text-center text-light">
        Old Projects
    </h2>
</div>

<div class="row mb-3">
    <div class="card bg-secondary">
        <div class="card-header">
            <div class="card-title">
                <h3>
                    Boise State University Jazz Orchestra 2020 Album
                </h3>
            </div>
        </div>
        <div class="card-body">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1040663965&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            <!-- <div
                style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/boise-state-jazz" title="BoiseStateJazz" target="_blank" style="color: #cccccc; text-decoration: none;">BoiseStateJazz</a> · <a href="https://soundcloud.com/boise-state-jazz/chimes-1" title="Chimes - Neil Carson"
                    target="_blank" style="color: #cccccc; text-decoration: none;">Chimes - Neil Carson</a></div> -->
        </div>
    </div>
</div>