<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Music Studio: {title}</title>
    <link rel="icon" href="../static/pictures/structure/tsaxking_logo.jpg">
    <link rel="stylesheet" href="style.css">

    <meta name="description" content="{metaDescription}">
    <meta name="keywords" content="{metaKeywords}">
</head>

<body class="bg-dark">
    <header class="shadow">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">
                    <img src="../static/pictures/structure/tsaxking_logo.jpg" alt="" srcset="" class="img-fluid cursor-pointer rounded" style="width: 40px !important; height: 40px !important; border-radius: 50% !important;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <cstr cstr-type="repeat" id="links">
                            <script cstr-type="repeat-eval">
                                if (cstr.dropdown) { `
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" aria-current="page" id="link-{lowercaseTitle}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{name}</a>
                                    <ul class="dropdown-menu" aria-labelledby="link-{lowercaseTitle}">
                                        ${cstr.dropdown.map((item => { return `
                                        <li><a class="dropdown-item ${cstr.requestedUrl === item.url ? 'active' : ''}" href="${item.url}">${item.name}</a></li>`; })).join('')}
                                    </ul>
                                </li>`; } else { `
                                <li class="nav-item">
                                    <a class="nav-link {active}" aria-current="page" id="link-{lowercaseTitle}" href="{url}">{name}</a>
                                </li>`; }
                            </script>
                        </cstr>
                    </ul>
                </div>
                <a href="https://www.facebook.com/taylorking99" target="_blank" class="link-light link-no-style mx-1" style="height: 24px !important; width: 24px !important; text-decoration: none !important;">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </a>
                <a href="https://www.instagram.com/t.sax.king" target="_blank" class="link-light link-no-style mx-1" style="height: 24px !important; width: 24px !important; text-decoration: none !important;">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <a href="https://github.com/tsaxking" target="_blank" class="link-light link-no-style mx-1" style="height: 24px !important; width: 24px !important; text-decoration: none !important;">
                    <i class="fa-brands fa-github fa-xl"></i>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row mb-3 p-2">
                <h1 class="text-center text-light">
                    {pageTitle}
                </h1>
            </div>
            {content}
        </div>
        <script src="../static/js/pages/{pageScript}" async></script>
    </main>
    {footer}
    <script src="script.js"></script>
</body>

</html>