<div class="row mb-3">
    <h2 class="text-center text-light">
        What are Private lessons?
    </h2>
</div>

<div class="row mb-3">
    <p class="text-light">
        Lessons with a private instructor give you an opportunity to have one-on-one time with a professional in your field of study.Private lessons are not limited to beginner students. In fact, they are for any level of player! I started taking lessons at 13
        and didn't stop for 10 years. I often still wish I was still working with an instructor, and I plan to in the future. At any point in one's musical career, lessons are a great way to improve your skills and gain a better understanding of your
        craft. In addition, this is a great networking opportunity to meet other musicians and make new connections!
    </p>
</div>

<div class="row mb-3">
    <h2 class="text-center text-light">
        My Process
    </h2>
</div>

<div class="row mb-3">
    <p class="text-light">
        Go at your pace, your style; I will change my teaching style to best fit your needs! I don’t expect more than my students’ best, however, I will push them to achieve more. The goal is for you to be successful and learn something in each lesson.
    </p>
</div>

<hr class="bg-light">

<div class="row mb-3">
    <h2 class="text-center text-light">
        Pricing
    </h2>
</div>

<div class="row mb-3">
    <p class="text-light">
        The first half hour is free, so that we can get to know each other and see if we are a good fit!
        <br> Rates: <b class="text-primary">$20.00 per half-hour</b> or <b class="text-primary">$30.00 per hour</b>
        <br>Mileage: <b class="text-primary">$.56 per mile</b> driven for lessons in your home
    </p>
</div>

<hr class="bg-light">

<div class="row mb-3">
    <h2 class="text-center text-light">
        Policies
    </h2>
</div>

<div class="row mb-3">
    <p class="text-light">A legal guardian is welcome to attend lessons. I have room for you!
        <br><br> Students will be charged a full lesson rate for missed lessons or cancellations within 24 hours of lesson time (unless considered an emergency).
        <br>
        <br>If I need to cancel or reschedule within 24 hours of a lesson, for any reason, there will be no charge and the next lesson will be free. <br>
        <br> If I am canceling outside of 24 hours, we can reschedule. Rescheduling for a missed lesson is based on availability.
    </p>
</div>

<hr class="bg-light">

<div class="row mb-3">
    <div class="col-lg-6 mb-3">
        <div class="card bg-secondary h-100 shadow rounded">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="text-center">
                        Saxophone Lessons
                    </h3>
                </div>
            </div>
            <img src="../static/pictures/structure/saxophone.jpg" class="rounded">
            <div class="card-body">
                <p>
                    The saxophone is a highly versatile instrument, it has been seen in nearly every genre of modern music (post 1900) and has a wide range of skills. In these lessons, we will be focusing on two vast genres; classical and jazz. In these genres, we will look
                    at the techniques involved, history, various performers, music theory, and performance etiquette.
                    <br>
                    <br> In addition to those skills, we will also be working on good practice room habits, such as how to warm up, keeping a personal practice log, taking care of the instrument, etc. It is my goal for each lesson that my student will
                    have something to take home and that they will have fun!
                    <br><br>Here are some of the skills you will develop:
                    <ul class="list-unstyled">
                        <li>
                            <p>
                                Performance Ediquette
                            </p>
                        </li>
                        <li>
                            <p>
                                Music Theory/Ear Training
                            </p>
                        </li>
                        <li>
                            <p>
                                All scales
                            </p>
                        </li>
                        <li>
                            <p>
                                Sight Reading
                            </p>
                        </li>
                        <li>
                            <p>
                                Jazz and Classical
                            </p>
                        </li>
                        <li>
                            <p>
                                Improvisation
                            </p>
                        </li>
                        <li>
                            <p>
                                Saxophone Repertoire
                            </p>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="card-footer">
                <a href="/contact-me" class="btn btn-dark">
                    Contact Me
                </a>
                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId">
                    View Saxophone Lessons Terms of Service
                </button> -->
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card bg-secondary h-100 rounded shadow">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="text-center">
                        Composition Lessons
                    </h3>
                </div>
            </div>
            <img src="../static/pictures/structure/composition_lesson_card.jpg" class="rounded">
            <div class="card-body">
                <p>
                    Composing is an amazing means of expressing yourself! There is a growing need for composers in the current musical climate as more shows, movies, musicals, podcasts, and more are being made. Channel your creativity to be a part of it!
                    <br><br> In your lessons, the primary focus will be finding your voice! The idea of ‘Finding Your Voice’ is a really abstract journey that takes a lot of introspection. We will explore music you like, and equally important, don’t enjoy,
                    to further understand your tastes so you can develop your style!
                    <br><br>Several skills you will develop:
                    <ul class="list-unstyled">
                        <li>
                            <p>
                                Writing music by hand
                            </p>
                        </li>
                        <li>
                            <p>
                                Notation softwares (Sibelius/Dorico/Notion/Finale)
                            </p>
                        </li>
                        <li>
                            <p>
                                DAW softwares (StudioOne/Ableton Live/Pro Tools/Garage Band/Logic Pro/Cubase)
                            </p>
                        </li>
                        <li>
                            <p>
                                Music theory
                            </p>
                        </li>
                        <li>
                            <p>
                                Score analysis
                            </p>
                        </li>
                        <li>
                            <p>
                                Orchestration
                            </p>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="card-footer">
                <a href="/contact-me" class="btn btn-dark">
                    Contact Me
                </a>
                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId">
                    View Composition Lessons Terms of Service
                </button> -->
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <canvas id="saxophone-tos"></canvas>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div> -->
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <canvas id="composition-tos"></canvas>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div> -->
        </div>
    </div>
</div>