<div class="subpage lessons_subpage" id="lessons_front">
    <h1 class="center page-title">Lessons</h1>
    <hr>
    <div class="center" id="lessons_info">
        <dl>
            <dt>
                <h6>
                    Go at your pace, your style; I will change my teaching style to best fit your needs! I don’t expect more than my students’ best, however, I will push them to achieve more. The goal is for you to be successful and learn something in each lesson.
                </h6>
            </dt>
            <dt>
                <strong><h3 class="center">Pricing</h3></strong>
            </dt>
            <dd>
                <h6>
                    Rates: <b class="textColor-main">$20.00 per half-hour or $30.00 per hour</b>
                    <br>Mileage: $.56 per mile driven for lessons in your home
                </h6>
            </dd>
            <dt>
                <strong><h3 class="center">Policies</h3></strong>
            </dt>
            <dd>
                <h4>Cancellation Policies:</h4>
                <h6>
                    Students will be charged a full lesson rate for missed lessons or cancellations within 24 hours of lesson time (unless considered an emergency).
                    <br>
                    <br>If I need to cancel or reschedule within 24 hours of a lesson, for any reason, there will be no charge and the next lesson will be free. <br>
                    <br> If I am canceling outside of 24 hours, we can reschedule. Rescheduling for a missed lesson is based on availability.

                </h6>
                <h4>Other Policies:</h4>
                <h6>
                    A legal guardian is welcome to attend lessons. I have room for you!
                    <br><br>
                    <a href="/covid-19" data-link="nav" class="link">COVID-19 Policies</a>
                </h6>
            </dd>
        </dl>
    </div>
    <br>
    <div class="banner" id="sax_lessons">
        <div class="column_display">
            <div class="cd_column">
                <div class="cd_content dark_faded_background">
                    <h3 class="center">Saxophone Lessons</h3>
                    <br>
                    <p>
                        The saxophone is a highly versatile instrument, it has been seen in nearly every genre of modern music (post 1900) and has a wide range of skills. In these lessons, we will be focusing on two vast genres; classical and jazz. In these genres, we will look
                        at the techniques involved, history, various performers, music theory, and performance etiquette.
                        <br>
                        <br> In addition to those skills, we will also be working on good practice room habits, such as how to warm up, keeping a personal practice log, taking care of the instrument, etc. It is my goal for each lesson that my student
                        will have something to take home and that they will have fun!
                    </p>
                </div>
            </div>
            <div class="cd_column">
                <!-- Woof -->
            </div>
        </div>
    </div>
    <br>
    <div class="banner" id="comp_lessons">
        <div class="column_display">
            <div class="cd_column">
                <div class="cd_content dark_faded_background">
                    <h3 class="center">Composition Lessons</h3>
                    <br>
                    <p>
                        Composing is an amazing means of expressing yourself! There is a growing need for composers in the current musical climate as more shows, movies, musicals, podcasts, and more are being made. Channel your creativity to be a part of it!
                        <br><br> In your lessons, the primary focus will be finding your voice! The idea of ‘Finding Your Voice’ is a really abstract journey that takes a lot of introspection. We will explore music you like, and equally important, don’t
                        enjoy, to further understand your tastes so you can develop your style!
                        <br><br> Several skills you will develop:
                    </p>
                    <ul>
                        <p>
                            Writing music by hand
                        </p>
                    </ul>
                    <ul>
                        <p>
                            Notation softwares (Sibelius/Dorico/Notion/Finale)
                        </p>
                    </ul>
                    <ul>
                        <p>
                            DAW softwares (StudioOne/Ableton Live/Pro Tools/Garage Band/Logic Pro/Cubase)
                        </p>
                    </ul>
                    <ul>
                        <p>
                            Music theory
                        </p>
                    </ul>
                    <ul>
                        <p>
                            Score analysis
                        </p>
                    </ul>
                    <ul>
                        <p>
                            Orchestration
                        </p>
                    </ul>
                </div>
            </div>
            <div class="cd_column">
                <!-- Glub Glub -->
            </div>
        </div>
    </div>
</div>