<div class="subpage recording-and-mixing_subpage" id="recording-and-mixing_front">
    <h1 class="center page-title">Recording Studio</h1>
    <hr>
    <br>
    <div class="banner" id="house_recording">
        <div class="column_display">
            <div class="cd_column">
                <div class="cd_content dark_faded_background">
                    <h3 class="center">In-house Recording</h3>
                    <br>
                    <p>
                        I am in the process of expanding my studio. Right now, I can record up to four instruments at a time. I have already had a few small recording gigs in there for voiceovers and solo music recordings. This can be a great way to capture the sound you’ve
                        always wanted out of your music!
                        <br><br> My rates are flexible depending on the project, but I generally charge $15.00 per microphone - per hour of recording, with a flat $10.00 for set up time. For mixing your recording, the rate is $5.00 per minute (rounding
                        up) per track.
                    </p>
                </div>
            </div>
            <div class="cd_column">
                <!-- nothing -->
            </div>
        </div>
    </div>
    <br>
    <div class="banner" id="venue_recording">
        <div class="column_display">
            <div class="cd_column">
                <div class="cd_content dark_faded_background">
                    <h3 class="center">Venue Recording</h3>
                    <br>
                    <p>
                        I have recorded in several other venues, most notably on the Morrison Center Main Hall and at the Mountain View High School auditorium! I can adapt to many different setups to capture the sound you want the best!
                    </p>
                    <dl>
                        <dt>
                            <p>
                                I have experience recording and mixing the following:
                            </p>
                        </dt>
                        <dd>
                            <p>
                                - Solo instrumentalists
                            </p>
                        </dd>
                        <dd>
                            <p>
                                - Solo vocalists
                            </p>
                        </dd>
                        <dd>
                            <p>
                                - Concert Bands
                            </p>
                        </dd>
                        <dd>
                            <p>
                                - Jazz Bands
                            </p>
                        </dd>
                        <dd>
                            <p>
                                - Choirs
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="cd_column">
                <!-- nothing -->
            </div>
        </div>
    </div>
    <br>
    <div class="banner" id="mixing">
        <div class="column_display">
            <div class="cd_column">
                <div class="cd_content dark_faded_background">
                    <h3 class="center">Live Mixing</h3>
                    <br>
                    <p>
                        I have a vast assortment of tools that can help you with your gig. Currently, I am running sound for <a href="https://armadacorps.org" target="_blank" class="link">Armada Winds</a>, which requires a large PA system, audio effects,
                        synchronization, and live-mixing!
                        <br>
                        <br> I can run sound for bands, gatherings, and more! If you are interested, my rates are flexible to your budget, just <a href="/about/contact" data-link="nav" class="link">contact me</a>!
                    </p>
                </div>
            </div>
            <div class="cd_column">
                <!-- nothing -->
            </div>
        </div>
    </div>
    <br>
    <div class="banner" id="mockups">
        <div class="column_display">
            <div class="cd_column">
                <div class="cd_content dark_faded_background">
                    <h3 class="center">"Recordings without Recordings"</h3>
                    <br>
                    <p>
                        Ever write a piece but don't have performers to record it? I can help! I have upwards of two terabytes of sounds I can use to replicate the ensemble you want! Here are two of my previous projects:
                        <a class="link" href="/composition/display:concerto for alto saxophone" data-link="nav">Concerto for Alto Saxophone</a> and <a class="link" href="/composition/display:acceptance" data-link="nav">Acceptance</a>.
                    </p>
                </div>
            </div>
            <div class="cd_column">
                <!-- nothing -->
            </div>
        </div>
    </div>
</div>